.vs-grid {
    --vs-grid-gridSize: initial;
    --vs-grid-columnGap: initial;
    --vs-grid-rowGap: initial;

    @apply relative grid;

    grid-template-columns: repeat(var(--vs-grid-gridSize, 12), minmax(0, 1fr));
    column-gap: var(--vs-grid-columnGap, 0);
    row-gap: var(--vs-grid-rowGap, 0);
    container-type: inline-size;
    width: 100%;
    height: 100%;
}
