.vs-grid {
    --vs-grid-gridSize: 12;
    --vs-grid-columnGap: 0;
    --vs-grid-rowGap: 0;
    --vs-grid-width: 100%;
    --vs-grid-height: 100%;

    @apply relative grid;

    grid-template-columns: repeat(var(--vs-grid-gridSize), minmax(0, 1fr));
    column-gap: var(--vs-grid-columnGap);
    row-gap: var(--vs-grid-rowGap);
    container-type: inline-size;
    width: var(--vs-grid-width);
    height: var(--vs-grid-height);
}
