.vs-switch {
    --vs-switch-width: initial;
    --vs-switch-height: initial;

    --vs-switch-backgroundColor: initial;
    --vs-switch-border: initial;
    --vs-switch-borderRadius: initial;
    --vs-switch-handleSize: initial;
    --vs-switch-handleColor: initial;

    @apply relative flex items-center;
    min-height: var(--vs-input-comp-height);

    .vs-switch-button {
        @apply relative flex cursor-pointer items-center select-none;
        transition: all 0.3s;
        border: var(--vs-switch-border, 1px solid var(--vs-line-color));
        border-radius: var(--vs-switch-borderRadius, 1.5rem);
        background-color: var(--vs-switch-backgroundColor, var(--vs-area-bg));
        padding: 0 0.6rem;

        width: var(--vs-switch-width, fit-content);
        height: var(--vs-switch-height, 2rem);
        color: var(--vs-font-color);
        font-size: var(--vs-font-size-sm);

        .vs-status-label {
            @apply block w-full text-center break-all whitespace-nowrap;
            margin-left: 0.3rem;
            padding-right: 0;
            padding-left: calc(var(--vs-switch-handleSize, 1.2rem));
            user-select: none;
        }

        &::before {
            @apply absolute rounded-full;
            left: 0.3rem;
            transition: 0.3s;
            background-color: var(--vs-switch-handleColor, var(--vs-primary-comp-bg));
            width: calc(var(--vs-switch-handleSize, 1.4rem));
            height: calc(var(--vs-switch-handleSize, 1.4rem));
            content: '';
        }
    }

    .vs-switch-input {
        @apply pointer-events-none absolute opacity-0;
        top: 0;
        left: 0;
    }

    &.vs-checked {
        .vs-switch-button {
            border: var(--vs-switch-border, 1px solid var(--vs-primary-comp-bg));
            background-color: var(--vs-primary-comp-bg);
            color: var(--vs-primary-comp-font);

            &::before {
                left: calc(100% - (var(--vs-switch-handleSize, 1.3rem) + 0.3rem));
                background-color: var(--vs-primary-comp-font);
            }

            .vs-status-label {
                padding-right: calc(var(--vs-switch-handleSize, 1.3rem));
                padding-left: 0;
            }
        }
    }

    &.vs-small {
        height: var(--vs-input-comp-height-small);

        .vs-switch-button {
            border-radius: var(--vs-switch-borderRadius, 1rem);
            padding: 0 0.6rem;
            height: var(--vs-switch-height, 1.5rem);
            font-size: var(--vs-font-size-xs);

            .vs-status-label {
                @apply relative;
                margin-left: 0.2rem;
                padding-left: calc(var(--vs-switch-handleSize, 0.8rem));
            }

            &::before {
                left: 0.3rem;
                width: calc(var(--vs-switch-handleSize, 1rem));
                height: calc(var(--vs-switch-handleSize, 1rem));
            }
        }

        &.vs-checked {
            .vs-switch-button {
                &::before {
                    left: calc(100% - (var(--vs-switch-handleSize, 1rem) + 0.3rem));
                }

                .vs-status-label {
                    padding-right: calc(var(--vs-switch-handleSize, 1rem));
                    padding-left: 0;
                }
            }
        }
    }

    &:focus-within {
        .vs-switch-button {
            outline: 1px solid var(--vs-line-color) !important;
            outline-offset: 2px !important;
        }
    }
}
