@reference 'tailwindcss';

.vs-switch {
    --vs-switch-handleSize: initial;
    --vs-switch-handleColor: initial;

    @apply relative flex items-center;
    min-height: var(--vs-comp-height-md);

    .vs-switch-button {
        @apply relative flex cursor-pointer items-center px-2.5 transition-all duration-300 select-none;
        border: 1px solid var(--vs-cs-line);
        border-radius: 1.5rem;
        background-color: var(--vs-cs-bg-colored);

        width: auto;
        height: 2rem;
        color: var(--vs-cs-font);
        font-size: var(--vs-font-size-sm);

        .vs-status-label {
            @apply ml-1.5 block w-full pr-0 text-center break-all whitespace-nowrap select-none;
            padding-left: calc(var(--vs-switch-handleSize, 1.2rem));
        }

        &::before {
            @apply absolute left-1.5 rounded-full transition-all duration-300;
            background-color: var(--vs-cs-bg-primary);
            width: 1.4rem;
            height: 1.4rem;
            content: '';
        }
    }

    .vs-switch-input {
        @apply pointer-events-none absolute top-0 left-0 opacity-0;
    }

    &.vs-checked {
        .vs-switch-button {
            border: 1px solid var(--vs-cs-bg-primary);
            background-color: var(--vs-cs-bg-primary);
            color: var(--vs-cs-font-primary);

            &::before {
                left: calc(100% - (var(--vs-switch-handleSize, 1.3rem) + 0.3rem));
                background-color: var(--vs-switch-handleColor, var(--vs-cs-font-primary));
            }

            .vs-status-label {
                @apply pl-0;
                padding-right: calc(var(--vs-switch-handleSize, 1.3rem));
            }
        }
    }

    &:focus-within {
        .vs-switch-button {
            @apply outline-offset-2;
            outline: 1px solid var(--vs-cs-line) !important;
        }
    }
}
