@reference 'tailwindcss';

.vs-switch {
    --vs-switch-handleSize: initial;
    --vs-switch-handleColor: initial;
    --vs-switch-button-height: var(--vs-size-height, var(--vs-comp-height-md));
    --vs-switch-computed-handle: var(--vs-switch-handleSize, calc(var(--vs-switch-button-height) * 0.7));

    @apply relative flex items-center;
    min-height: var(--vs-switch-button-height);

    .vs-switch-button {
        @apply relative inline-grid cursor-pointer items-center transition-all duration-300 select-none;
        border: 1px solid var(--vs-cs-line);
        border-radius: var(--vs-switch-button-height);
        background-color: var(--vs-cs-bg-area);

        width: auto;
        min-width: calc(var(--vs-switch-button-height) * 1.75);
        height: var(--vs-switch-button-height);
        padding: 0 calc(var(--vs-switch-button-height) * 0.3);
        color: var(--vs-cs-font);
        font-size: var(--vs-size-font, var(--vs-font-size-md));

        .vs-status-label {
            @apply block w-full pr-0 text-center break-all whitespace-nowrap select-none;
            grid-row: 1;
            grid-column: 1;
            padding-left: var(--vs-switch-computed-handle);
        }
        .vs-status-label[data-value='true'] {
            @apply invisible;
        }
        .vs-status-label[data-value='false'] {
            @apply visible;
        }

        &::before {
            @apply absolute rounded-full transition-all duration-300;
            background-color: var(--vs-cs-bg-primary);
            left: calc(var(--vs-switch-button-height) * 0.15);
            width: var(--vs-switch-computed-handle);
            height: var(--vs-switch-computed-handle);
            content: '';
        }
    }

    .vs-switch-input {
        @apply pointer-events-none absolute top-0 left-0 opacity-0;
    }

    &.vs-checked {
        .vs-switch-button {
            border: 1px solid var(--vs-cs-bg-primary);
            background-color: var(--vs-cs-bg-primary);
            color: var(--vs-cs-font-primary);

            &::before {
                left: calc(100% - (var(--vs-switch-computed-handle) + var(--vs-switch-button-height) * 0.15));
                background-color: var(--vs-switch-handleColor, var(--vs-cs-font-primary));
            }

            .vs-status-label {
                @apply pl-0;
                padding-right: var(--vs-switch-computed-handle);
            }
            .vs-status-label[data-value='false'] {
                @apply invisible;
            }
            .vs-status-label[data-value='true'] {
                @apply visible;
            }
        }
    }

    &:focus-within {
        .vs-switch-button {
            @apply outline-offset-2;
            outline: 1px solid var(--vs-cs-line) !important;
        }
    }
}
