.vs-tooltip {
    --vs-tooltip-arrowColor: initial;
    --vs-tooltip-arrowSize: initial;

    @apply pointer-events-auto;

    .vs-tooltip-contents {
        @apply relative;

        border: 0.1rem solid var(--vs-cs-bg-primary);
        border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-md));
        background-color: var(--vs-cs-bg-colored);
        padding: 0.2rem 0.6rem;

        &::after {
            @apply absolute;
            border: var(--vs-tooltip-arrowSize, 0.4rem) solid transparent;
            border-bottom: var(--vs-tooltip-arrowSize, 0.4rem) solid
                var(--vs-tooltip-arrowColor, var(--vs-cs-bg-primary));
            width: 0;
            height: 0;
            content: '';
        }
    }

    /* Placement styles */
    &.vs-placement-top .vs-tooltip-contents::after {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%) rotate(180deg);
    }

    &.vs-placement-top.vs-align-start .vs-tooltip-contents::after {
        left: 20%;
    }

    &.vs-placement-top.vs-align-end .vs-tooltip-contents::after {
        left: 80%;
    }

    &.vs-placement-right .vs-tooltip-contents::after {
        top: 50%;
        left: 0;
        transform: translate(calc(-100%), -50%) rotate(270deg);
    }

    &.vs-placement-right.vs-align-start .vs-tooltip-contents::after {
        top: 20%;
    }

    &.vs-placement-right.vs-align-end .vs-tooltip-contents::after {
        top: 80%;
    }

    &.vs-placement-bottom .vs-tooltip-contents::after {
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%) rotate(0deg);
    }

    &.vs-placement-bottom.vs-align-start .vs-tooltip-contents::after {
        left: 20%;
    }

    &.vs-placement-bottom.vs-align-end .vs-tooltip-contents::after {
        left: 80%;
    }

    &.vs-placement-left .vs-tooltip-contents::after {
        top: 50%;
        right: 0;
        transform: translate(calc(100%), -50%) rotate(90deg);
    }

    &.vs-placement-left.vs-align-start .vs-tooltip-contents::after {
        top: 20%;
    }

    &.vs-placement-left.vs-align-end .vs-tooltip-contents::after {
        top: 80%;
    }
}
