.vs-avatar {
    --vs-avatar-objectFit: initial;

    @apply relative inline-flex items-center justify-center overflow-hidden whitespace-nowrap select-none;

    border: 1px solid var(--vs-cs-line);
    border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-md));
    background-color: var(--vs-cs-bg);
    width: 3.6rem;
    height: 3.6rem;
    color: var(--vs-cs-font-colored);

    :deep(img) {
        @apply block h-full w-full;
        object-fit: var(--vs-avatar-objectFit, contain);
    }
}
