.vs-avatar {
    @apply relative inline-flex items-center justify-center overflow-hidden whitespace-nowrap select-none;

    border: var(--vs-avatar-border, 0.1rem solid var(--vs-line-color));
    border-radius: var(--vs-avatar-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
    background-color: var(--vs-avatar-backgroundColor, var(--vs-comp-bg));
    width: var(--vs-avatar-width, 4rem);
    height: var(--vs-avatar-height, 4rem);
    color: var(--vs-avatar-fontColor, var(--vs-comp-font));
    font-weight: var(--vs-avatar-fontWeight, 400);
    font-size: var(--vs-avatar-fontSize, var(--vs-font-size));

    :deep(img) {
        @apply block w-full h-full;
        object-fit: var(--vs-avatar-objectFit, contain);
    }
}
