@reference 'tailwindcss';

.vs-text-wrap {
    @apply relative inline-flex w-full items-center overflow-x-auto;

    .vs-text-wrap-contents {
        @apply relative truncate;
    }

    .vs-text-wrap-buttons {
        @apply ml-1 flex items-center gap-0.5;

        .vs-text-wrap-button {
            @apply cursor-pointer;

            &.vs-copy-button {
                .vs-icon-container {
                    width: 1.2rem;
                    height: 1.2rem;
                    color: var(--vs-indigo-600);

                    &.copied {
                        color: var(--vs-green-600);
                    }
                }
            }

            &.vs-link-button {
                .vs-icon-container {
                    width: 1.2rem;
                    height: 1.2rem;
                    color: var(--vs-blue-600);
                }
            }

            &:hover {
                @apply brightness-110;
            }

            &:active {
                @apply brightness-90;
            }
        }
    }
}
