@reference 'tailwindcss';

.vs-steps {
    --vs-steps-height: initial;
    --vs-steps-width: initial;
    --vs-steps-stepSize: initial;

    --step-size: var(--vs-steps-stepSize, 1.6rem);

    @apply relative select-none;

    width: var(--vs-steps-width, calc(var(--vs-steps-gap) * var(--vs-steps-gapCount)));
    height: var(--vs-steps-height, initial);
    -webkit-tap-highlight-color: transparent;

    .vs-step-line {
        @apply absolute h-1 -translate-y-1/2;

        top: calc(var(--step-size) * 0.5);
        right: var(--step-size);
        left: var(--step-size);
        background-color: color-mix(in oklch, var(--vs-primary-comp-bg) 20%, transparent 80%);

        .vs-step-progress {
            @apply h-full opacity-80;

            transition: width 0.2s;
            background-color: var(--vs-primary-comp-bg);
        }
    }

    .vs-steps-list {
        @apply mb-16 flex list-none items-center justify-between;

        &.vs-steps-no-label {
            margin-bottom: 0;
        }

        .vs-step-item {
            @apply relative flex cursor-pointer items-center justify-center;

            .vs-step-num {
                @apply flex items-center justify-center border font-semibold;

                border: 1px solid var(--vs-line-color);
                border-radius: 100%;
                background-color: var(--vs-comp-bg);
                width: var(--step-size);
                height: var(--step-size);
                color: var(--vs-comp-font);
                font-size: var(--vs-font-size-sm);
            }

            .vs-step-label {
                @apply absolute top-3/2 left-1/2 -translate-x-1/2 whitespace-nowrap;

                color: var(--vs-font-color);
                font-size: var(--vs-font-size-md);
            }

            &:focus {
                @apply outline-none;
            }

            &.vs-previous {
                .vs-step-num {
                    border: 1px solid var(--vs-primary-comp-bg);
                    border-radius: 100%;
                    background-color: var(--vs-primary-comp-bg);
                    color: var(--vs-primary-comp-font);
                }

                .vs-step-label {
                    color: var(--vs-comp-font);
                }
            }

            &.vs-selected {
                .vs-step-num {
                    transition-delay: 0.15s;
                    outline: 3px solid var(--vs-primary-comp-bg);
                    outline-offset: 3px;
                    border: 1px solid var(--vs-primary-comp-bg);
                    border-radius: 100%;
                    background-color: var(--vs-primary-comp-bg);
                    color: var(--vs-primary-comp-font);
                }

                .vs-step-label {
                    @apply font-semibold;

                    color: var(--vs-primary-comp-bg);
                }
            }
        }
    }

    &.vs-vertical {
        @apply flex-col items-center;

        width: var(--vs-steps-width, initial);
        height: var(--vs-steps-height, calc(var(--vs-steps-gap) * var(--vs-steps-gapCount)));

        .vs-step-line {
            @apply h-auto w-1 -translate-x-1/2 translate-y-0;

            top: var(--step-size);
            bottom: var(--step-size);
            left: calc(var(--step-size) * 0.5);

            .vs-step-progress {
                transition: height 0.2s;
            }
        }

        .vs-steps-list {
            @apply mr-16 mb-0 h-full flex-col items-start;

            &.vs-steps-no-label {
                margin-right: 0;
            }

            .vs-step-item {
                .vs-step-label {
                    @apply top-1/2 left-3/2 translate-x-0 -translate-y-1/2;
                }
            }
        }
    }
}
