@reference 'tailwindcss';

.vs-steps {
    --vs-steps-stepSize: initial;

    --step-size: var(--vs-steps-stepSize, 1.6rem);
    --step-line-color: color-mix(in oklch, var(--vs-cs-bg-primary) 20%, transparent 80%);
    --step-progress-color: var(--vs-cs-bg-primary);
    --step-transition: 0.2s;

    @apply relative select-none;

    -webkit-tap-highlight-color: transparent;

    .vs-step-line {
        @apply absolute -translate-y-1/2;

        top: calc(var(--step-size) * 0.5);
        right: var(--step-size);
        left: var(--step-size);
        background-color: var(--step-line-color);

        .vs-step-progress {
            @apply h-1 opacity-80;

            transition: width var(--step-transition);
            background-color: var(--step-progress-color);
        }
    }

    .vs-steps-list {
        @apply mb-16 flex list-none items-center justify-between;

        &.vs-steps-no-label {
            @apply mb-0;
        }

        .vs-step-item {
            @apply relative flex cursor-pointer items-center justify-center;

            &:focus {
                @apply outline-none;
            }

            &:focus-visible:not(.vs-disabled) {
                .vs-step-num::after {
                    position: absolute;
                    inset: 2px;
                    border: 1px solid var(--vs-cs-line);
                    border-radius: 100%;
                    pointer-events: none;
                    content: '';
                }

                &.vs-selected .vs-step-num::after {
                    border-color: var(--vs-cs-font-primary);
                }
            }

            .vs-step-num {
                @apply relative flex items-center justify-center font-semibold;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

                border: 1px solid var(--vs-cs-line);
                border-radius: 100%;
                background-color: var(--vs-cs-bg-area);
                width: var(--step-size);
                height: var(--step-size);
                color: var(--vs-cs-font-colored);
                font-size: var(--vs-font-size-sm);
            }

            .vs-step-label {
                @apply absolute top-3/2 left-1/2 -translate-x-1/2 whitespace-nowrap;

                color: var(--vs-cs-font);
                font-size: var(--vs-font-size-md);
            }

            &.vs-previous {
                .vs-step-num {
                    border-color: var(--vs-cs-bg-primary);
                    background-color: var(--vs-cs-bg-primary);
                    color: var(--vs-cs-font-primary);
                }

                .vs-step-label {
                    color: var(--vs-cs-font-colored);
                }
            }

            &.vs-selected {
                .vs-step-num {
                    transition-delay: 0.15s;
                    outline: 3px solid var(--vs-cs-bg-primary);
                    outline-offset: 3px;
                    border-color: var(--vs-cs-bg-primary);
                    background-color: var(--vs-cs-bg-primary);
                    color: var(--vs-cs-font-primary);
                }

                .vs-step-label {
                    @apply font-semibold;

                    color: var(--vs-cs-bg-primary);
                }
            }
        }
    }

    &.vs-vertical {
        @apply flex-col items-center;

        .vs-step-line {
            @apply h-auto w-1 -translate-x-1/2 translate-y-0;

            top: var(--step-size);
            bottom: var(--step-size);
            left: calc(var(--step-size) * 0.5);

            .vs-step-progress {
                transition: height var(--step-transition);
            }
        }

        .vs-steps-list {
            @apply mr-16 mb-0 h-full flex-col items-start;

            &.vs-steps-no-label {
                @apply mr-0;
            }

            .vs-step-item {
                .vs-step-label {
                    @apply top-1/2 left-3/2 translate-x-0 -translate-y-1/2;
                }
            }
        }
    }
}
