.vs-skeleton {
    @apply relative overflow-hidden;

    border: none;
    border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-sm));
    width: 100%;
    height: 100%;

    .vs-skeleton-bg {
        @apply absolute h-full w-full;

        animation: skeleton-blink 1s ease infinite alternate;
        background-color: var(--vs-cs-bg-comp-colored);
    }

    .vs-skeleton-content {
        @apply relative flex h-full w-full items-center justify-center;

        color: var(--vs-cs-font);
    }
}

@keyframes skeleton-blink {
    0% {
        opacity: 0.05;
    }

    100% {
        opacity: 0.25;
    }
}
