.vs-skeleton {
    @apply relative overflow-hidden;
    border-radius: var(--vs-skeleton-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius-sm)));
    width: var(--vs-skeleton-width, 100%);
    height: var(--vs-skeleton-height, 100%);

    .vs-skeleton-bg {
        @apply absolute h-full w-full;
        animation: skeleton-blink 0.8s infinite alternate;
        background-color: var(--vs-skeleton-backgroundColor, var(--vs-line-color));
    }
    .vs-skeleton-inner {
        @apply relative flex h-full w-full items-center justify-center;
        color: var(--vs-skeleton-color, var(--vs-font-color));
        font-size: var(--vs-skeleton-fontSize, var(--vs-font-size));
    }
}

@keyframes skeleton-blink {
    0% {
        opacity: 0.15;
    }

    100% {
        opacity: 0.3;
    }
}
