.vs-bar {
    --vs-bar-position: initial;

    @apply box-border w-full;

    position: var(--vs-bar-position, relative);
    border: 1px solid var(--vs-line-color);
    border-radius: 0;
    background-color: var(--vs-comp-bg);
    padding: 0;
    width: 100%;
    height: auto;
    color: var(--vs-comp-font);

    &.vs-primary {
        border: 1px solid var(--vs-primary-comp-bg);
        background-color: var(--vs-primary-comp-bg);
        color: var(--vs-primary-comp-font);
    }
}
