@reference 'tailwindcss';

.vs-bar {
    @apply relative box-border h-auto w-full rounded-none p-0;

    border: 1px solid var(--vs-line-color);
    background-color: var(--vs-comp-bg);
    color: var(--vs-comp-font);

    &.vs-primary {
        border: 1px solid var(--vs-primary-comp-bg);
        background-color: var(--vs-primary-comp-bg);
        color: var(--vs-primary-comp-font);
    }
}
