@reference 'tailwindcss';

.vs-radio {
    --vs-radio-borderRadius: initial;
    --vs-radio-height: initial;
    --vs-radio-radioColor: initial;
    --vs-radio-radioSize: initial;

    @apply relative flex items-center;
    min-height: var(--vs-radio-height, var(--vs-default-comp-height-md));

    .vs-radio-wrap {
        @apply relative flex cursor-pointer flex-nowrap items-center justify-start select-none;

        .vs-radio-input {
            @apply absolute opacity-0;
            pointer-events: none;

            &:checked + .vs-radio-label {
                color: var(--vs-radio-radioColor, var(--vs-primary-comp-bg));

                &:before {
                    box-shadow: inset 0 0 0 calc(var(--vs-radio-radioSize, 1.3rem) / 3)
                        var(--vs-radio-radioColor, var(--vs-primary-comp-bg));
                }
            }
        }

        .vs-radio-label {
            @apply flex cursor-pointer items-center whitespace-nowrap select-none;
            padding: 0.2rem 0;
            color: var(--vs-font-color);

            &:before {
                @apply bg-transparent;
                transition: box-shadow 0.25s ease;
                margin-right: 0.5rem;
                box-shadow: inset 0 0 0 0.12rem var(--vs-radio-radioColor, var(--vs-primary-comp-bg));
                border-radius: var(--vs-radio-borderRadius, 50%);
                width: var(--vs-radio-radioSize, 1.3rem);
                height: var(--vs-radio-radioSize, 1.3rem);
                content: '';
            }
        }
    }

    &.vs-focus-visible {
        .vs-radio-input:focus-visible + .vs-radio-label {
            &:before {
                outline: 1px solid var(--vs-line-color) !important;
                outline-offset: 2px !important;
            }
        }
    }

    &.vs-state-box {
        outline: initial !important;

        .vs-radio-label {
            &:before {
                @apply outline-3 outline-offset-2 outline-(--vs-state-color);
            }
        }
    }

}
