@reference 'tailwindcss';

.vs-grouped-list {
    --vs-grouped-list-height: initial;
    --vs-grouped-list-gap: initial;

    @apply pointer-events-auto;

    border: none;
    border-radius: 0;
    width: auto;
    max-height: var(--vs-grouped-list-height, auto);

    .vs-grouped-list-list {
        @apply flex flex-col;

        gap: var(--vs-grouped-list-gap, 0);

        .vs-grouped-list-group-content {
            @apply cursor-default;

            opacity: 0.5;
            margin: 0.6rem 0 0.3rem 0;
            border: none;
            padding: 0 0.6rem;
            font-weight: 600;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }

        .vs-grouped-list-item-content {
            @apply cursor-pointer;

            border: none;
            padding: 0.2rem 1.2rem;
        }
    }
}
