.vs-checkbox-set {
    --vs-checkbox-set-gap: initial;
    --vs-checkbox-set-flexWrap: initial;

    @apply flex items-center;

    flex-wrap: var(--vs-checkbox-set-flexWrap, wrap);

    &.vs-vertical {
        @apply flex-col items-start;
    }

    .vs-checkbox-item:not(:last-child) {
        margin-right: var(--vs-checkbox-set-gap, 2.4rem);
    }

    &.vs-vertical .vs-checkbox-item:not(:last-child) {
        @apply mr-0;
        margin-bottom: var(--vs-checkbox-set-gap, 1rem);
    }
}

