.vs-responsive {
    --vs-grid-xs: 12;
    --vs-width-xs: 100%;

    @apply relative box-border;
    grid-column-start: span var(--vs-grid-xs);
    width: var(--vs-width-xs);

    @container (min-width: 640px) {
        &.vs-width-sm {
            width: var(--vs-width-sm);
        }
        &.vs-grid-sm {
            grid-column-start: span var(--vs-grid-sm);
        }
    }

    @container (min-width: 768px) {
        &.vs-width-md {
            width: var(--vs-width-md);
        }
        &.vs-grid-md {
            grid-column-start: span var(--vs-grid-md);
        }
    }

    @container (min-width: 1024px) {
        &.vs-width-lg {
            width: var(--vs-width-lg);
        }
        &.vs-grid-lg {
            grid-column-start: span var(--vs-grid-lg);
        }
    }

    @container (min-width: 1280px) {
        &.vs-width-xl {
            width: var(--vs-width-xl);
        }
        &.vs-grid-xl {
            grid-column-start: span var(--vs-grid-xl);
        }
    }
}
