body {
    color: var(--vs-no-color-inverse);
    font-size: var(--vs-font-size-md);
}

html,
body {
    @apply relative min-h-screen min-w-full leading-[1.5] font-normal;
    background-color: var(--vs-app-bg);
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
}

/* 스크롤바 너비를 8px로 고정 -> 변경 시 scroll-lock-composable.ts 수정 필요 */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.vs-dark *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}

.vs-dark *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
