$colors:
    'brown', 'red', 'orange', 'amber', 'yellow', 'lime', 'green', 'emerald', 'teal', 'cyan', 'sky', 'blue', 'indigo',
    'violet', 'purple', 'fuchsia', 'pink', 'rose', 'gray';

:root {
    .vs-cs-default {
        --vs-cs-line: var(--vs-gray-700);

        --vs-cs-font: var(--vs-gray-950);
        --vs-cs-font-colored: var(--vs-gray-800);
        --vs-cs-font-primary: var(--vs-white);

        --vs-cs-bg-area: var(--vs-white);
        --vs-cs-bg-area-colored: var(--vs-gray-50);
        --vs-cs-bg: var(--vs-white);
        --vs-cs-bg-colored: var(--vs-gray-100);
        --vs-cs-bg-comp: var(--vs-white);
        --vs-cs-bg-comp-colored: var(--vs-gray-200);
        --vs-cs-bg-primary: var(--vs-black);

        --vs-cs-shadow-color: rgba(0, 0, 0, 0.4);
    }

    &.vs-dark {
        .vs-cs-default {
            --vs-cs-line: var(--vs-gray-500);

            --vs-cs-font: var(--vs-gray-50);
            --vs-cs-font-colored: var(--vs-gray-100);
            --vs-cs-font-primary: var(--vs-black);

            --vs-cs-bg-area: var(--vs-black);
            --vs-cs-bg-area-colored: var(--vs-gray-800);
            --vs-cs-bg: var(--vs-black);
            --vs-cs-bg-colored: var(--vs-gray-700);
            --vs-cs-bg-comp: var(--vs-black);
            --vs-cs-bg-comp-colored: var(--vs-gray-600);
            --vs-cs-bg-primary: var(--vs-white);

            --vs-cs-shadow-color: rgba(255, 255, 255, 0.4);
        }
    }

    @each $color in $colors {
        .vs-cs-#{$color} {
            --vs-cs-line: var(--vs-#{$color}-600);

            --vs-cs-font: var(--vs-#{$color}-900);
            --vs-cs-font-colored: var(--vs-#{$color}-800);
            --vs-cs-font-primary: var(--vs-#{$color}-50);

            --vs-cs-bg-area: var(--vs-#{$color}-50);
            --vs-cs-bg-area-colored: var(--vs-#{$color}-50);
            --vs-cs-bg: var(--vs-#{$color}-100);
            --vs-cs-bg-colored: var(--vs-#{$color}-100);
            --vs-cs-bg-comp: var(--vs-#{$color}-200);
            --vs-cs-bg-comp-colored: var(--vs-#{$color}-200);
            --vs-cs-bg-primary: var(--vs-#{$color}-600);

            --vs-cs-shadow-color: color-mix(in srgb, var(--vs-#{$color}-600) 60%, transparent);
        }
    }

    &.vs-dark {
        @each $color in $colors {
            .vs-cs-#{$color} {
                --vs-cs-line: var(--vs-#{$color}-600);

                --vs-cs-font: var(--vs-#{$color}-100);
                --vs-cs-font-colored: var(--vs-#{$color}-200);
                --vs-cs-font-primary: var(--vs-#{$color}-50);

                --vs-cs-bg-area: var(--vs-#{$color}-950);
                --vs-cs-bg-area-colored: var(--vs-#{$color}-950);
                --vs-cs-bg: var(--vs-#{$color}-900);
                --vs-cs-bg-colored: var(--vs-#{$color}-900);
                --vs-cs-bg-comp: var(--vs-#{$color}-800);
                --vs-cs-bg-comp-colored: var(--vs-#{$color}-800);
                --vs-cs-bg-primary: var(--vs-#{$color}-700);

                --vs-cs-shadow-color: color-mix(in srgb, var(--vs-#{$color}-300) 90%, transparent);
            }
        }
    }
}
