/**
 * This file defines CSS custom properties used by Stylelint validation.
 * These variables are dynamically generated in color-scheme.scss
 * and must be kept in sync with that file.
 */
:root {
    --vs-cs-line: initial;

    --vs-cs-font: initial;
    --vs-cs-font-colored: initial;
    --vs-cs-font-primary: initial;

    --vs-cs-bg-area: initial;
    --vs-cs-bg-area-colored: initial;
    --vs-cs-bg: initial;
    --vs-cs-bg-colored: initial;
    --vs-cs-bg-comp: initial;
    --vs-cs-bg-comp-colored: initial;
    --vs-cs-bg-primary: initial;

    --vs-cs-shadow-color: initial;
    --vs-cs-shadow: initial;
}
