@layer utilities {
    .vs-disabled {
        @apply pointer-events-none cursor-default grayscale-60 select-none;
        opacity: 0.5 !important;
    }

    .vs-readonly {
        @apply pointer-events-none cursor-default;
    }

    .vs-focusable:focus-within,
    .vs-focusable:focus-visible {
        outline: 1px solid var(--vs-line-color) !important;
        outline-offset: 2px !important;
    }

    .vs-hide-scroll {
        overflow: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
