@layer utilities {
    .vs-disabled {
        @apply pointer-events-none cursor-default grayscale-60 select-none;
        opacity: 0.5 !important;
    }

    .vs-readonly {
        @apply pointer-events-none cursor-default;
    }

    .vs-focus-visible:focus-visible,
    .vs-focus-within:focus-within {
        outline: 1px solid var(--vs-line-color) !important;
        outline-offset: 2px !important;
    }

    .vs-hide-scroll {
        overflow: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    /* Size variants */
    .vs-xs {
        --vs-size-height: var(--vs-default-comp-height-xs);
        --vs-size-font: var(--vs-font-size-xs);
        --vs-size-radius: var(--vs-radius-xs);
        --vs-size-padding: 0.4rem;
    }

    .vs-sm {
        --vs-size-height: var(--vs-default-comp-height-sm);
        --vs-size-font: var(--vs-font-size-sm);
        --vs-size-radius: var(--vs-radius-sm);
        --vs-size-padding: 0.6rem;
    }

    .vs-md {
        --vs-size-height: var(--vs-default-comp-height-md);
        --vs-size-font: var(--vs-font-size);
        --vs-size-radius: var(--vs-radius);
        --vs-size-padding: 0.8rem;
    }

    .vs-lg {
        --vs-size-height: var(--vs-default-comp-height-lg);
        --vs-size-font: var(--vs-font-size-lg);
        --vs-size-radius: var(--vs-radius-lg);
        --vs-size-padding: 1rem;
    }

    .vs-xl {
        --vs-size-height: var(--vs-default-comp-height-xl);
        --vs-size-font: var(--vs-font-size-xl);
        --vs-size-radius: var(--vs-radius-xl);
        --vs-size-padding: 1.2rem;
    }
}
