@layer utilities {
    .vs-disabled {
        @apply cursor-not-allowed opacity-50 grayscale-60 select-none;
        * {
            @apply pointer-events-none;
        }
    }

    .vs-readonly {
        @apply cursor-not-allowed;
        * {
            @apply pointer-events-none;
        }
    }

    .vs-focusable:focus-visible {
        outline: 1px solid var(--vs-line-color) !important;
        outline-offset: 2px !important;
    }

    .vs-hide-scroll {
        overflow: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
