@layer base {
    :root {
        --vs-white: var(--color-white);
        --vs-black: var(--color-black);

        /* gray */
        --vs-gray-50: oklch(98% 0 0);
        --vs-gray-100: oklch(89.9% 0 0);
        --vs-gray-200: oklch(81.8% 0 0);
        --vs-gray-300: oklch(73.7% 0 0);
        --vs-gray-400: oklch(65.5% 0 0);
        --vs-gray-500: oklch(57.4% 0 0);
        --vs-gray-600: oklch(49.3% 0 0);
        --vs-gray-700: oklch(37.4% 0 0);
        --vs-gray-800: oklch(25.4% 0 0);
        --vs-gray-900: oklch(13.5% 0 0);
        --vs-gray-950: oklch(1.5% 0 0);

        /* red */
        --vs-red-50: oklch(98% 0.013 27);
        --vs-red-100: oklch(91.8% 0.046 27);
        --vs-red-200: oklch(85.6% 0.079 27);
        --vs-red-300: oklch(79.4% 0.111 27);
        --vs-red-400: oklch(73.2% 0.144 27);
        --vs-red-500: oklch(67% 0.176 27);
        --vs-red-600: oklch(60.8% 0.209 27);
        --vs-red-700: oklch(46.1% 0.159 27);
        --vs-red-800: oklch(31.3% 0.109 27);
        --vs-red-900: oklch(16.6% 0.060 27);
        --vs-red-950: oklch(1.8% 0.010 27);

        /* brown */
        --vs-brown-50: oklch(97.5% 0.005 35);
        --vs-brown-100: oklch(89.6% 0.019 35);
        --vs-brown-200: oklch(81.7% 0.033 35);
        --vs-brown-300: oklch(73.7% 0.048 35);
        --vs-brown-400: oklch(65.8% 0.062 35);
        --vs-brown-500: oklch(57.9% 0.076 35);
        --vs-brown-600: oklch(50% 0.09 35);
        --vs-brown-700: oklch(37.9% 0.069 35);
        --vs-brown-800: oklch(25.8% 0.047 35);
        --vs-brown-900: oklch(13.6% 0.026 35);
        --vs-brown-950: oklch(1.5% 0.005 35);

        /* orange */
        --vs-orange-50: oklch(98.2% 0.011 53.5);
        --vs-orange-100: oklch(93.7% 0.039 53.5);
        --vs-orange-200: oklch(89.2% 0.067 53.5);
        --vs-orange-300: oklch(84.7% 0.095 53.5);
        --vs-orange-400: oklch(80.2% 0.123 53.5);
        --vs-orange-500: oklch(75.7% 0.151 53.5);
        --vs-orange-600: oklch(71.2% 0.179 53.5);
        --vs-orange-700: oklch(53.9% 0.136 53.5);
        --vs-orange-800: oklch(36.7% 0.094 53.5);
        --vs-orange-900: oklch(19.4% 0.051 53.5);
        --vs-orange-950: oklch(2.1% 0.009 53.5);

        /* amber */
        --vs-amber-50: oklch(98.4% 0.013 84);
        --vs-amber-100: oklch(95% 0.046 84);
        --vs-amber-200: oklch(91.6% 0.079 84);
        --vs-amber-300: oklch(88.2% 0.112 84);
        --vs-amber-400: oklch(84.8% 0.145 84);
        --vs-amber-500: oklch(81.4% 0.178 84);
        --vs-amber-600: oklch(78% 0.21 84);
        --vs-amber-700: oklch(59.1% 0.160 84);
        --vs-amber-800: oklch(40.2% 0.110 84);
        --vs-amber-900: oklch(21.3% 0.060 84);
        --vs-amber-950: oklch(2.3% 0.011 84);

        /* yellow */
        --vs-yellow-50: oklch(98.6% 0.012 97);
        --vs-yellow-100: oklch(96.3% 0.043 97);
        --vs-yellow-200: oklch(94.1% 0.073 97);
        --vs-yellow-300: oklch(91.8% 0.104 97);
        --vs-yellow-400: oklch(89.5% 0.134 97);
        --vs-yellow-500: oklch(87.3% 0.165 97);
        --vs-yellow-600: oklch(85% 0.195 97);
        --vs-yellow-700: oklch(64.4% 0.149 97);
        --vs-yellow-800: oklch(43.8% 0.102 97);
        --vs-yellow-900: oklch(23.2% 0.056 97);
        --vs-yellow-950: oklch(2.6% 0.010 97);

        /* lime */
        --vs-lime-50: oklch(98.5% 0.012 126);
        --vs-lime-100: oklch(95.7% 0.045 126);
        --vs-lime-200: oklch(92.8% 0.077 126);
        --vs-lime-300: oklch(90% 0.110 126);
        --vs-lime-400: oklch(87.1% 0.142 126);
        --vs-lime-500: oklch(84.3% 0.175 126);
        --vs-lime-600: oklch(81.4% 0.207 126);
        --vs-lime-700: oklch(61.7% 0.158 126);
        --vs-lime-800: oklch(41.9% 0.108 126);
        --vs-lime-900: oklch(22.2% 0.059 126);
        --vs-lime-950: oklch(2.4% 0.010 126);

        /* green */
        --vs-green-50: oklch(97.9% 0.010 152.5);
        --vs-green-100: oklch(92.1% 0.036 152.5);
        --vs-green-200: oklch(86.3% 0.061 152.5);
        --vs-green-300: oklch(80.5% 0.087 152.5);
        --vs-green-400: oklch(74.6% 0.113 152.5);
        --vs-green-500: oklch(68.8% 0.138 152.5);
        --vs-green-600: oklch(63% 0.164 152.5);
        --vs-green-700: oklch(47.7% 0.125 152.5);
        --vs-green-800: oklch(32.5% 0.086 152.5);
        --vs-green-900: oklch(17.2% 0.047 152.5);
        --vs-green-950: oklch(1.9% 0.008 152.5);

        /* emerald */
        --vs-emerald-50: oklch(98.3% 0.009 151.5);
        --vs-emerald-100: oklch(94.3% 0.034 151.5);
        --vs-emerald-200: oklch(90.4% 0.059 151.5);
        --vs-emerald-300: oklch(86.4% 0.084 151.5);
        --vs-emerald-400: oklch(82.4% 0.109 151.5);
        --vs-emerald-500: oklch(78.5% 0.134 151.5);
        --vs-emerald-600: oklch(74.5% 0.158 151.5);
        --vs-emerald-700: oklch(56.4% 0.120 151.5);
        --vs-emerald-800: oklch(38.4% 0.083 151.5);
        --vs-emerald-900: oklch(20.3% 0.045 151.5);
        --vs-emerald-950: oklch(2.2% 0.008 151.5);

        /* teal */
        --vs-teal-50: oklch(97.9% 0.008 185);
        --vs-teal-100: oklch(91.9% 0.028 185);
        --vs-teal-200: oklch(85.9% 0.049 185);
        --vs-teal-300: oklch(80% 0.069 185);
        --vs-teal-400: oklch(74% 0.089 185);
        --vs-teal-500: oklch(68% 0.110 185);
        --vs-teal-600: oklch(62% 0.13 185);
        --vs-teal-700: oklch(47% 0.099 185);
        --vs-teal-800: oklch(32% 0.068 185);
        --vs-teal-900: oklch(16.9% 0.038 185);
        --vs-teal-950: oklch(1.9% 0.007 185);

        /* cyan */
        --vs-cyan-50: oklch(98.7% 0.006 194.8);
        --vs-cyan-100: oklch(96.8% 0.021 194.8);
        --vs-cyan-200: oklch(95% 0.036 194.8);
        --vs-cyan-300: oklch(93.1% 0.051 194.8);
        --vs-cyan-400: oklch(91.2% 0.066 194.8);
        --vs-cyan-500: oklch(89.4% 0.081 194.8);
        --vs-cyan-600: oklch(87.5% 0.093 194.8);
        --vs-cyan-700: oklch(66.3% 0.071 194.8);
        --vs-cyan-800: oklch(45.1% 0.049 194.8);
        --vs-cyan-900: oklch(23.8% 0.027 194.8);
        --vs-cyan-950: oklch(2.6% 0.005 194.8);

        /* sky */
        --vs-sky-50: oklch(98% 0.010 230);
        --vs-sky-100: oklch(92.7% 0.036 230);
        --vs-sky-200: oklch(87.3% 0.062 230);
        --vs-sky-300: oklch(82% 0.088 230);
        --vs-sky-400: oklch(76.7% 0.113 230);
        --vs-sky-500: oklch(71.3% 0.139 230);
        --vs-sky-600: oklch(66% 0.165 230);
        --vs-sky-700: oklch(50% 0.126 230);
        --vs-sky-800: oklch(34% 0.087 230);
        --vs-sky-900: oklch(18% 0.048 230);
        --vs-sky-950: oklch(2% 0.008 230);

        /* blue */
        --vs-blue-50: oklch(97.6% 0.011 262);
        --vs-blue-100: oklch(90.7% 0.039 262);
        --vs-blue-200: oklch(83.8% 0.067 262);
        --vs-blue-300: oklch(76.9% 0.094 262);
        --vs-blue-400: oklch(69.9% 0.122 262);
        --vs-blue-500: oklch(63% 0.149 262);
        --vs-blue-600: oklch(56.1% 0.177 262);
        --vs-blue-700: oklch(42.5% 0.135 262);
        --vs-blue-800: oklch(28.9% 0.093 262);
        --vs-blue-900: oklch(15.3% 0.051 262);
        --vs-blue-950: oklch(1.7% 0.009 262);

        /* indigo */
        --vs-indigo-50: oklch(98% 0.011 275);
        --vs-indigo-100: oklch(92.7% 0.041 275);
        --vs-indigo-200: oklch(87.3% 0.070 275);
        --vs-indigo-300: oklch(82% 0.100 275);
        --vs-indigo-400: oklch(76.7% 0.130 275);
        --vs-indigo-500: oklch(71.3% 0.160 275);
        --vs-indigo-600: oklch(66% 0.189 275);
        --vs-indigo-700: oklch(50% 0.144 275);
        --vs-indigo-800: oklch(34% 0.099 275);
        --vs-indigo-900: oklch(18% 0.054 275);
        --vs-indigo-950: oklch(2% 0.009 275);

        /* violet */
        --vs-violet-50: oklch(98% 0.012 295);
        --vs-violet-100: oklch(92.7% 0.044 295);
        --vs-violet-200: oklch(87.3% 0.075 295);
        --vs-violet-300: oklch(82% 0.107 295);
        --vs-violet-400: oklch(76.7% 0.138 295);
        --vs-violet-500: oklch(71.3% 0.170 295);
        --vs-violet-600: oklch(66% 0.201 295);
        --vs-violet-700: oklch(50% 0.153 295);
        --vs-violet-800: oklch(34% 0.105 295);
        --vs-violet-900: oklch(18% 0.058 295);
        --vs-violet-950: oklch(2% 0.010 295);

        /* purple */
        --vs-purple-50: oklch(98% 0.013 315);
        --vs-purple-100: oklch(92.7% 0.046 315);
        --vs-purple-200: oklch(87.3% 0.079 315);
        --vs-purple-300: oklch(82% 0.113 315);
        --vs-purple-400: oklch(76.7% 0.146 315);
        --vs-purple-500: oklch(71.3% 0.179 315);
        --vs-purple-600: oklch(66% 0.212 315);
        --vs-purple-700: oklch(50% 0.162 315);
        --vs-purple-800: oklch(34% 0.112 315);
        --vs-purple-900: oklch(18% 0.061 315);
        --vs-purple-950: oklch(2% 0.011 315);

        /* fuchsia */
        --vs-fuchsia-50: oklch(98% 0.015 335);
        --vs-fuchsia-100: oklch(92.7% 0.054 335);
        --vs-fuchsia-200: oklch(87.3% 0.093 335);
        --vs-fuchsia-300: oklch(82% 0.132 335);
        --vs-fuchsia-400: oklch(76.7% 0.170 335);
        --vs-fuchsia-500: oklch(71.3% 0.209 335);
        --vs-fuchsia-600: oklch(66% 0.248 335);
        --vs-fuchsia-700: oklch(50% 0.189 335);
        --vs-fuchsia-800: oklch(34% 0.130 335);
        --vs-fuchsia-900: oklch(18% 0.071 335);
        --vs-fuchsia-950: oklch(2% 0.012 335);

        /* pink */
        --vs-pink-50: oklch(97.9% 0.014 1.8);
        --vs-pink-100: oklch(92.8% 0.050 1.8);
        --vs-pink-200: oklch(87.7% 0.087 1.8);
        --vs-pink-300: oklch(82.7% 0.123 1.8);
        --vs-pink-400: oklch(77.6% 0.159 1.8);
        --vs-pink-500: oklch(72.5% 0.195 1.8);
        --vs-pink-600: oklch(67.4% 0.232 1.8);
        --vs-pink-700: oklch(51.1% 0.177 1.8);
        --vs-pink-800: oklch(34.7% 0.122 1.8);
        --vs-pink-900: oklch(18.4% 0.067 1.8);
        --vs-pink-950: oklch(2% 0.012 1.8);

        /* rose */
        --vs-rose-50: oklch(98.2% 0.013 10);
        --vs-rose-100: oklch(93.8% 0.048 10);
        --vs-rose-200: oklch(89.5% 0.082 10);
        --vs-rose-300: oklch(85.1% 0.117 10);
        --vs-rose-400: oklch(80.7% 0.151 10);
        --vs-rose-500: oklch(76.4% 0.186 10);
        --vs-rose-600: oklch(72% 0.22 10);
        --vs-rose-700: oklch(54.6% 0.168 10);
        --vs-rose-800: oklch(37.1% 0.116 10);
        --vs-rose-900: oklch(19.7% 0.063 10);
        --vs-rose-950: oklch(2.2% 0.011 10);
    }
}
