@layer base {
    :root {
        --vs-white: var(--color-white);
        --vs-black: var(--color-black);

        /* gray */
        --vs-gray-50: oklch(94% 0 0);
        --vs-gray-100: oklch(86.5% 0 0);
        --vs-gray-200: oklch(78.9% 0 0);
        --vs-gray-300: oklch(71.4% 0 0);
        --vs-gray-400: oklch(63.9% 0 0);
        --vs-gray-500: oklch(56.3% 0 0);
        --vs-gray-600: oklch(48.8% 0 0);
        --vs-gray-700: oklch(39.6% 0 0);
        --vs-gray-800: oklch(30.5% 0 0);
        --vs-gray-900: oklch(21.3% 0 0);
        --vs-gray-950: oklch(12.1% 0 0);

        /* red */
        --vs-red-50: oklch(94.9% 0.03 27);
        --vs-red-100: oklch(88.8% 0.055 27);
        --vs-red-200: oklch(82.8% 0.079 27);
        --vs-red-300: oklch(76.7% 0.104 27);
        --vs-red-400: oklch(70.6% 0.128 27);
        --vs-red-500: oklch(64.5% 0.153 27);
        --vs-red-600: oklch(58.5% 0.177 27);
        --vs-red-700: oklch(47.5% 0.146 27);
        --vs-red-800: oklch(36.6% 0.114 27);
        --vs-red-900: oklch(25.6% 0.083 27);
        --vs-red-950: oklch(14.7% 0.051 27);

        /* brown */
        --vs-brown-50: oklch(93.6% 0.012 35);
        --vs-brown-100: oklch(86.2% 0.023 35);
        --vs-brown-200: oklch(78.9% 0.034 35);
        --vs-brown-300: oklch(71.5% 0.044 35);
        --vs-brown-400: oklch(64.1% 0.055 35);
        --vs-brown-500: oklch(56.7% 0.066 35);
        --vs-brown-600: oklch(49.4% 0.077 35);
        --vs-brown-700: oklch(40.1% 0.063 35);
        --vs-brown-800: oklch(30.8% 0.05 35);
        --vs-brown-900: oklch(21.5% 0.036 35);
        --vs-brown-950: oklch(12.2% 0.023 35);

        /* orange */
        --vs-orange-50: oklch(96% 0.025 53.5);
        --vs-orange-100: oklch(91.2% 0.046 53.5);
        --vs-orange-200: oklch(86.4% 0.067 53.5);
        --vs-orange-300: oklch(81.6% 0.088 53.5);
        --vs-orange-400: oklch(76.8% 0.109 53.5);
        --vs-orange-500: oklch(72% 0.13 53.5);
        --vs-orange-600: oklch(67.2% 0.152 53.5);
        --vs-orange-700: oklch(54.7% 0.125 53.5);
        --vs-orange-800: oklch(42.1% 0.098 53.5);
        --vs-orange-900: oklch(29.6% 0.071 53.5);
        --vs-orange-950: oklch(17.1% 0.044 53.5);

        /* amber */
        --vs-amber-50: oklch(96.7% 0.03 84);
        --vs-amber-100: oklch(92.7% 0.055 84);
        --vs-amber-200: oklch(88.8% 0.079 84);
        --vs-amber-300: oklch(84.8% 0.104 84);
        --vs-amber-400: oklch(80.8% 0.129 84);
        --vs-amber-500: oklch(76.9% 0.153 84);
        --vs-amber-600: oklch(72.9% 0.178 84);
        --vs-amber-700: oklch(59.3% 0.146 84);
        --vs-amber-800: oklch(45.8% 0.115 84);
        --vs-amber-900: oklch(32.2% 0.083 84);
        --vs-amber-950: oklch(18.6% 0.052 84);

        /* yellow */
        --vs-yellow-50: oklch(97.5% 0.028 97);
        --vs-yellow-100: oklch(94.4% 0.051 97);
        --vs-yellow-200: oklch(91.3% 0.074 97);
        --vs-yellow-300: oklch(88.2% 0.097 97);
        --vs-yellow-400: oklch(85.1% 0.12 97);
        --vs-yellow-500: oklch(82% 0.143 97);
        --vs-yellow-600: oklch(78.9% 0.166 97);
        --vs-yellow-700: oklch(64.2% 0.136 97);
        --vs-yellow-800: oklch(49.6% 0.107 97);
        --vs-yellow-900: oklch(34.9% 0.077 97);
        --vs-yellow-950: oklch(20.3% 0.048 97);

        /* lime */
        --vs-lime-50: oklch(97.1% 0.029 126);
        --vs-lime-100: oklch(93.6% 0.053 126);
        --vs-lime-200: oklch(90% 0.078 126);
        --vs-lime-300: oklch(86.5% 0.102 126);
        --vs-lime-400: oklch(82.9% 0.127 126);
        --vs-lime-500: oklch(79.4% 0.151 126);
        --vs-lime-600: oklch(75.8% 0.176 126);
        --vs-lime-700: oklch(61.7% 0.144 126);
        --vs-lime-800: oklch(47.6% 0.113 126);
        --vs-lime-900: oklch(33.5% 0.082 126);
        --vs-lime-950: oklch(19.4% 0.051 126);

        /* green */
        --vs-green-50: oklch(95% 0.023 152.5);
        --vs-green-100: oklch(89.2% 0.042 152.5);
        --vs-green-200: oklch(83.4% 0.061 152.5);
        --vs-green-300: oklch(77.6% 0.081 152.5);
        --vs-green-400: oklch(71.8% 0.1 152.5);
        --vs-green-500: oklch(66% 0.119 152.5);
        --vs-green-600: oklch(60.3% 0.139 152.5);
        --vs-green-700: oklch(49% 0.114 152.5);
        --vs-green-800: oklch(37.7% 0.089 152.5);
        --vs-green-900: oklch(26.5% 0.065 152.5);
        --vs-green-950: oklch(15.2% 0.04 152.5);

        /* emerald */
        --vs-emerald-50: oklch(96.3% 0.022 151.5);
        --vs-emerald-100: oklch(91.9% 0.041 151.5);
        --vs-emerald-200: oklch(87.5% 0.059 151.5);
        --vs-emerald-300: oklch(83.2% 0.078 151.5);
        --vs-emerald-400: oklch(78.8% 0.097 151.5);
        --vs-emerald-500: oklch(74.4% 0.115 151.5);
        --vs-emerald-600: oklch(70% 0.134 151.5);
        --vs-emerald-700: oklch(57% 0.11 151.5);
        --vs-emerald-800: oklch(43.9% 0.086 151.5);
        --vs-emerald-900: oklch(30.9% 0.062 151.5);
        --vs-emerald-950: oklch(17.8% 0.039 151.5);

        /* teal */
        --vs-teal-50: oklch(94.9% 0.018 185);
        --vs-teal-100: oklch(89% 0.033 185);
        --vs-teal-200: oklch(83.1% 0.049 185);
        --vs-teal-300: oklch(77.2% 0.064 185);
        --vs-teal-400: oklch(71.3% 0.08 185);
        --vs-teal-500: oklch(65.4% 0.095 185);
        --vs-teal-600: oklch(59.5% 0.111 185);
        --vs-teal-700: oklch(48.2% 0.091 185);
        --vs-teal-800: oklch(37% 0.072 185);
        --vs-teal-900: oklch(25.7% 0.052 185);
        --vs-teal-950: oklch(15% 0.033 185);

        /* cyan */
        --vs-cyan-50: oklch(97.8% 0.014 194.8);
        --vs-cyan-100: oklch(95% 0.025 194.8);
        --vs-cyan-200: oklch(92.2% 0.036 194.8);
        --vs-cyan-300: oklch(89.4% 0.047 194.8);
        --vs-cyan-400: oklch(86.6% 0.058 194.8);
        --vs-cyan-500: oklch(83.8% 0.069 194.8);
        --vs-cyan-600: oklch(81% 0.08 194.8);
        --vs-cyan-700: oklch(65.9% 0.066 194.8);
        --vs-cyan-800: oklch(50.9% 0.052 194.8);
        --vs-cyan-900: oklch(35.8% 0.037 194.8);
        --vs-cyan-950: oklch(20.8% 0.023 194.8);

        /* sky */
        --vs-sky-50: oklch(95.4% 0.023 230);
        --vs-sky-100: oklch(90% 0.042 230);
        --vs-sky-200: oklch(84.5% 0.062 230);
        --vs-sky-300: oklch(79.1% 0.081 230);
        --vs-sky-400: oklch(73.7% 0.101 230);
        --vs-sky-500: oklch(68.2% 0.12 230);
        --vs-sky-600: oklch(62.8% 0.14 230);
        --vs-sky-700: oklch(51.1% 0.115 230);
        --vs-sky-800: oklch(39.3% 0.09 230);
        --vs-sky-900: oklch(27.6% 0.065 230);
        --vs-sky-950: oklch(15.9% 0.041 230);

        /* blue */
        --vs-blue-50: oklch(94.2% 0.025 262);
        --vs-blue-100: oklch(87.6% 0.046 262);
        --vs-blue-200: oklch(81% 0.067 262);
        --vs-blue-300: oklch(74.3% 0.087 262);
        --vs-blue-400: oklch(67.7% 0.108 262);
        --vs-blue-500: oklch(61.1% 0.129 262);
        --vs-blue-600: oklch(54.5% 0.15 262);
        --vs-blue-700: oklch(44.2% 0.123 262);
        --vs-blue-800: oklch(34% 0.097 262);
        --vs-blue-900: oklch(23.8% 0.07 262);
        --vs-blue-950: oklch(13.6% 0.044 262);

        /* indigo */
        --vs-indigo-50: oklch(95.4% 0.026 275);
        --vs-indigo-100: oklch(90% 0.048 275);
        --vs-indigo-200: oklch(84.5% 0.071 275);
        --vs-indigo-300: oklch(79.1% 0.093 275);
        --vs-indigo-400: oklch(73.7% 0.116 275);
        --vs-indigo-500: oklch(68.2% 0.138 275);
        --vs-indigo-600: oklch(62.8% 0.161 275);
        --vs-indigo-700: oklch(51.1% 0.132 275);
        --vs-indigo-800: oklch(39.3% 0.103 275);
        --vs-indigo-900: oklch(27.6% 0.075 275);
        --vs-indigo-950: oklch(15.9% 0.046 275);

        /* violet */
        --vs-violet-50: oklch(95.4% 0.028 295);
        --vs-violet-100: oklch(90% 0.052 295);
        --vs-violet-200: oklch(84.5% 0.076 295);
        --vs-violet-300: oklch(79.1% 0.099 295);
        --vs-violet-400: oklch(73.7% 0.123 295);
        --vs-violet-500: oklch(68.2% 0.147 295);
        --vs-violet-600: oklch(62.8% 0.171 295);
        --vs-violet-700: oklch(51.1% 0.14 295);
        --vs-violet-800: oklch(39.3% 0.11 295);
        --vs-violet-900: oklch(27.6% 0.079 295);
        --vs-violet-950: oklch(15.9% 0.049 295);

        /* purple */
        --vs-purple-50: oklch(95.4% 0.03 315);
        --vs-purple-100: oklch(90% 0.055 315);
        --vs-purple-200: oklch(84.5% 0.08 315);
        --vs-purple-300: oklch(79.1% 0.105 315);
        --vs-purple-400: oklch(73.7% 0.13 315);
        --vs-purple-500: oklch(68.2% 0.155 315);
        --vs-purple-600: oklch(62.8% 0.18 315);
        --vs-purple-700: oklch(51.1% 0.148 315);
        --vs-purple-800: oklch(39.3% 0.116 315);
        --vs-purple-900: oklch(27.6% 0.084 315);
        --vs-purple-950: oklch(15.9% 0.052 315);

        /* fuchsia */
        --vs-fuchsia-50: oklch(95.4% 0.035 335);
        --vs-fuchsia-100: oklch(90% 0.064 335);
        --vs-fuchsia-200: oklch(84.5% 0.093 335);
        --vs-fuchsia-300: oklch(79.1% 0.123 335);
        --vs-fuchsia-400: oklch(73.7% 0.152 335);
        --vs-fuchsia-500: oklch(68.2% 0.181 335);
        --vs-fuchsia-600: oklch(62.8% 0.21 335);
        --vs-fuchsia-700: oklch(51.1% 0.173 335);
        --vs-fuchsia-800: oklch(39.3% 0.135 335);
        --vs-fuchsia-900: oklch(27.6% 0.098 335);
        --vs-fuchsia-950: oklch(15.9% 0.061 335);

        /* pink */
        --vs-pink-50: oklch(95.4% 0.032 1.8);
        --vs-pink-100: oklch(90.2% 0.059 1.8);
        --vs-pink-200: oklch(84.9% 0.087 1.8);
        --vs-pink-300: oklch(79.7% 0.114 1.8);
        --vs-pink-400: oklch(74.5% 0.142 1.8);
        --vs-pink-500: oklch(69.2% 0.169 1.8);
        --vs-pink-600: oklch(64% 0.197 1.8);
        --vs-pink-700: oklch(52.1% 0.162 1.8);
        --vs-pink-800: oklch(40.1% 0.127 1.8);
        --vs-pink-900: oklch(28.2% 0.092 1.8);
        --vs-pink-950: oklch(16.2% 0.057 1.8);

        /* rose */
        --vs-rose-50: oklch(96% 0.031 10);
        --vs-rose-100: oklch(91.3% 0.057 10);
        --vs-rose-200: oklch(86.6% 0.083 10);
        --vs-rose-300: oklch(82% 0.109 10);
        --vs-rose-400: oklch(77.3% 0.135 10);
        --vs-rose-500: oklch(72.6% 0.161 10);
        --vs-rose-600: oklch(67.9% 0.187 10);
        --vs-rose-700: oklch(55.3% 0.153 10);
        --vs-rose-800: oklch(42.6% 0.12 10);
        --vs-rose-900: oklch(30% 0.087 10);
        --vs-rose-950: oklch(17.3% 0.054 10);
    }
}
