@layer base {
    :root {
        --vs-white: var(--color-white);
        --vs-black: var(--color-black);

        --vs-gray-50: oklch(97% 0 0);
        --vs-gray-100: oklch(94% 0 0);
        --vs-gray-200: oklch(88% 0 0);
        --vs-gray-300: oklch(80% 0 0);
        --vs-gray-400: oklch(70% 0 0);
        --vs-gray-500: oklch(60% 0 0);
        --vs-gray-600: oklch(50% 0 0);
        --vs-gray-700: oklch(40% 0 0);
        --vs-gray-800: oklch(30% 0 0);
        --vs-gray-900: oklch(22% 0 0);
        --vs-gray-950: oklch(14% 0 0);

        --vs-red-50: oklch(97% 0.01 25);
        --vs-red-100: oklch(94% 0.029 25);
        --vs-red-200: oklch(88% 0.063 25);
        --vs-red-300: oklch(80% 0.114 25);
        --vs-red-400: oklch(70% 0.165 25);
        --vs-red-500: oklch(60% 0.195 25);
        --vs-red-600: oklch(50% 0.175 25);
        --vs-red-700: oklch(40% 0.146 25);
        --vs-red-800: oklch(30% 0.107 25);
        --vs-red-900: oklch(22% 0.068 25);
        --vs-red-950: oklch(14% 0.039 25);

        --vs-brown-50: oklch(97% 0.007 40);
        --vs-brown-100: oklch(94% 0.02 40);
        --vs-brown-200: oklch(88% 0.046 40);
        --vs-brown-300: oklch(80% 0.078 40);
        --vs-brown-400: oklch(70% 0.111 40);
        --vs-brown-500: oklch(60% 0.13 40);
        --vs-brown-600: oklch(50% 0.117 40);
        --vs-brown-700: oklch(40% 0.098 40);
        --vs-brown-800: oklch(30% 0.072 40);
        --vs-brown-900: oklch(22% 0.046 40);
        --vs-brown-950: oklch(14% 0.026 40);

        --vs-orange-50: oklch(97% 0.009 50);
        --vs-orange-100: oklch(95% 0.028 50);
        --vs-orange-200: oklch(90% 0.058 50);
        --vs-orange-300: oklch(83% 0.105 50);
        --vs-orange-400: oklch(77% 0.15 50);
        --vs-orange-500: oklch(70% 0.185 50);
        --vs-orange-600: oklch(59% 0.156 50);
        --vs-orange-700: oklch(48% 0.127 50);
        --vs-orange-800: oklch(37% 0.098 50);
        --vs-orange-900: oklch(27% 0.065 50);
        --vs-orange-950: oklch(17% 0.037 50);

        --vs-amber-50: oklch(98% 0.008 70);
        --vs-amber-100: oklch(96% 0.024 70);
        --vs-amber-200: oklch(92% 0.057 70);
        --vs-amber-300: oklch(88% 0.092 70);
        --vs-amber-400: oklch(84% 0.126 70);
        --vs-amber-500: oklch(80% 0.162 70);
        --vs-amber-600: oklch(70% 0.146 70);
        --vs-amber-700: oklch(60% 0.122 70);
        --vs-amber-800: oklch(49% 0.089 70);
        --vs-amber-900: oklch(37% 0.057 70);
        --vs-amber-950: oklch(25% 0.032 70);

        --vs-yellow-50: oklch(98% 0.008 85);
        --vs-yellow-100: oklch(96% 0.025 85);
        --vs-yellow-200: oklch(93% 0.058 85);
        --vs-yellow-300: oklch(90% 0.099 85);
        --vs-yellow-400: oklch(87% 0.141 85);
        --vs-yellow-500: oklch(85% 0.166 85);
        --vs-yellow-600: oklch(75% 0.149 85);
        --vs-yellow-700: oklch(64% 0.124 85);
        --vs-yellow-800: oklch(52% 0.091 85);
        --vs-yellow-900: oklch(39% 0.058 85);
        --vs-yellow-950: oklch(27% 0.033 85);

        --vs-lime-50: oklch(98% 0.009 120);
        --vs-lime-100: oklch(96% 0.026 120);
        --vs-lime-200: oklch(92% 0.06 120);
        --vs-lime-300: oklch(88% 0.103 120);
        --vs-lime-400: oklch(84% 0.145 120);
        --vs-lime-500: oklch(80% 0.171 120);
        --vs-lime-600: oklch(70% 0.154 120);
        --vs-lime-700: oklch(60% 0.128 120);
        --vs-lime-800: oklch(49% 0.094 120);
        --vs-lime-900: oklch(37% 0.06 120);
        --vs-lime-950: oklch(25% 0.034 120);

        --vs-green-50: oklch(97% 0.009 152.5);
        --vs-green-100: oklch(95% 0.027 152.5);
        --vs-green-200: oklch(90% 0.064 152.5);
        --vs-green-300: oklch(83% 0.109 152.5);
        --vs-green-400: oklch(77% 0.155 152.5);
        --vs-green-500: oklch(70% 0.182 152.5);
        --vs-green-600: oklch(59% 0.154 152.5);
        --vs-green-700: oklch(48% 0.125 152.5);
        --vs-green-800: oklch(37% 0.096 152.5);
        --vs-green-900: oklch(27% 0.064 152.5);
        --vs-green-950: oklch(17% 0.036 152.5);

        --vs-emerald-50: oklch(97% 0.006 151.5);
        --vs-emerald-100: oklch(94% 0.019 151.5);
        --vs-emerald-200: oklch(88% 0.045 151.5);
        --vs-emerald-300: oklch(80% 0.077 151.5);
        --vs-emerald-400: oklch(70% 0.109 151.5);
        --vs-emerald-500: oklch(60% 0.128 151.5);
        --vs-emerald-600: oklch(50% 0.115 151.5);
        --vs-emerald-700: oklch(40% 0.096 151.5);
        --vs-emerald-800: oklch(30% 0.07 151.5);
        --vs-emerald-900: oklch(22% 0.045 151.5);
        --vs-emerald-950: oklch(14% 0.026 151.5);

        --vs-teal-50: oklch(97% 0.004 185);
        --vs-teal-100: oklch(94% 0.013 185);
        --vs-teal-200: oklch(88% 0.03 185);
        --vs-teal-300: oklch(80% 0.051 185);
        --vs-teal-400: oklch(70% 0.072 185);
        --vs-teal-500: oklch(60% 0.085 185);
        --vs-teal-600: oklch(50% 0.076 185);
        --vs-teal-700: oklch(40% 0.063 185);
        --vs-teal-800: oklch(30% 0.047 185);
        --vs-teal-900: oklch(22% 0.03 185);
        --vs-teal-950: oklch(14% 0.017 185);

        --vs-cyan-50: oklch(98% 0.006 194.8);
        --vs-cyan-100: oklch(96% 0.018 194.8);
        --vs-cyan-200: oklch(92% 0.043 194.8);
        --vs-cyan-300: oklch(88% 0.074 194.8);
        --vs-cyan-400: oklch(84% 0.104 194.8);
        --vs-cyan-500: oklch(80% 0.123 194.8);
        --vs-cyan-600: oklch(70% 0.111 194.8);
        --vs-cyan-700: oklch(60% 0.092 194.8);
        --vs-cyan-800: oklch(49% 0.068 194.8);
        --vs-cyan-900: oklch(37% 0.043 194.8);
        --vs-cyan-950: oklch(25% 0.025 194.8);

        --vs-sky-50: oklch(97% 0.007 240);
        --vs-sky-100: oklch(95% 0.02 240);
        --vs-sky-200: oklch(90% 0.048 240);
        --vs-sky-300: oklch(83% 0.082 240);
        --vs-sky-400: oklch(77% 0.116 240);
        --vs-sky-500: oklch(70% 0.136 240);
        --vs-sky-600: oklch(59% 0.123 240);
        --vs-sky-700: oklch(48% 0.102 240);
        --vs-sky-800: oklch(37% 0.075 240);
        --vs-sky-900: oklch(27% 0.048 240);
        --vs-sky-950: oklch(17% 0.027 240);

        --vs-blue-50: oklch(97% 0.009 262);
        --vs-blue-100: oklch(94% 0.026 262);
        --vs-blue-200: oklch(88% 0.058 262);
        --vs-blue-300: oklch(80% 0.101 262);
        --vs-blue-400: oklch(70% 0.148 262);
        --vs-blue-500: oklch(60% 0.174 262);
        --vs-blue-600: oklch(50% 0.156 262);
        --vs-blue-700: oklch(40% 0.13 262);
        --vs-blue-800: oklch(30% 0.096 262);
        --vs-blue-900: oklch(22% 0.061 262);
        --vs-blue-950: oklch(14% 0.035 262);

        --vs-indigo-50: oklch(97% 0.009 275);
        --vs-indigo-100: oklch(94% 0.026 275);
        --vs-indigo-200: oklch(88% 0.059 275);
        --vs-indigo-300: oklch(80% 0.101 275);
        --vs-indigo-400: oklch(70% 0.149 275);
        --vs-indigo-500: oklch(60% 0.175 275);
        --vs-indigo-600: oklch(50% 0.157 275);
        --vs-indigo-700: oklch(40% 0.131 275);
        --vs-indigo-800: oklch(30% 0.096 275);
        --vs-indigo-900: oklch(22% 0.061 275);
        --vs-indigo-950: oklch(14% 0.035 275);

        --vs-violet-50: oklch(97% 0.01 295);
        --vs-violet-100: oklch(94% 0.029 295);
        --vs-violet-200: oklch(88% 0.065 295);
        --vs-violet-300: oklch(80% 0.113 295);
        --vs-violet-400: oklch(70% 0.167 295);
        --vs-violet-500: oklch(60% 0.196 295);
        --vs-violet-600: oklch(50% 0.177 295);
        --vs-violet-700: oklch(40% 0.147 295);
        --vs-violet-800: oklch(30% 0.108 295);
        --vs-violet-900: oklch(22% 0.069 295);
        --vs-violet-950: oklch(14% 0.039 295);

        --vs-purple-50: oklch(97% 0.012 310);
        --vs-purple-100: oklch(94% 0.036 310);
        --vs-purple-200: oklch(88% 0.079 310);
        --vs-purple-300: oklch(80% 0.136 310);
        --vs-purple-400: oklch(70% 0.202 310);
        --vs-purple-500: oklch(60% 0.237 310);
        --vs-purple-600: oklch(50% 0.213 310);
        --vs-purple-700: oklch(40% 0.178 310);
        --vs-purple-800: oklch(30% 0.13 310);
        --vs-purple-900: oklch(22% 0.083 310);
        --vs-purple-950: oklch(14% 0.047 310);

        --vs-fuchsia-50: oklch(97% 0.011 335);
        --vs-fuchsia-100: oklch(94% 0.032 335);
        --vs-fuchsia-200: oklch(88% 0.075 335);
        --vs-fuchsia-300: oklch(80% 0.128 335);
        --vs-fuchsia-400: oklch(70% 0.181 335);
        --vs-fuchsia-500: oklch(60% 0.213 335);
        --vs-fuchsia-600: oklch(50% 0.192 335);
        --vs-fuchsia-700: oklch(40% 0.16 335);
        --vs-fuchsia-800: oklch(30% 0.117 335);
        --vs-fuchsia-900: oklch(22% 0.075 335);
        --vs-fuchsia-950: oklch(14% 0.043 335);

        --vs-pink-50: oklch(97% 0.01 350);
        --vs-pink-100: oklch(94% 0.03 350);
        --vs-pink-200: oklch(88% 0.07 350);
        --vs-pink-300: oklch(80% 0.12 350);
        --vs-pink-400: oklch(70% 0.17 350);
        --vs-pink-500: oklch(60% 0.2 350);
        --vs-pink-600: oklch(50% 0.18 350);
        --vs-pink-700: oklch(40% 0.15 350);
        --vs-pink-800: oklch(30% 0.11 350);
        --vs-pink-900: oklch(22% 0.07 350);
        --vs-pink-950: oklch(14% 0.04 350);

        --vs-rose-50: oklch(97% 0.01 10);
        --vs-rose-100: oklch(94% 0.029 10);
        --vs-rose-200: oklch(88% 0.065 10);
        --vs-rose-300: oklch(80% 0.115 10);
        --vs-rose-400: oklch(70% 0.163 10);
        --vs-rose-500: oklch(60% 0.192 10);
        --vs-rose-600: oklch(50% 0.173 10);
        --vs-rose-700: oklch(40% 0.144 10);
        --vs-rose-800: oklch(30% 0.106 10);
        --vs-rose-900: oklch(22% 0.067 10);
        --vs-rose-950: oklch(14% 0.038 10);
    }
}
