@layer base {
    :root {
        --vs-white: var(--color-white);
        --vs-black: var(--color-black);

        --vs-red-50: var(--color-red-50);
        --vs-red-100: var(--color-red-100);
        --vs-red-200: var(--color-red-200);
        --vs-red-300: var(--color-red-300);
        --vs-red-400: var(--color-red-400);
        --vs-red-500: var(--color-red-500);
        --vs-red-600: var(--color-red-600);
        --vs-red-700: var(--color-red-700);
        --vs-red-800: var(--color-red-800);
        --vs-red-900: var(--color-red-900);
        --vs-red-950: var(--color-red-950);

        --vs-orange-50: var(--color-orange-50);
        --vs-orange-100: var(--color-orange-100);
        --vs-orange-200: var(--color-orange-200);
        --vs-orange-300: var(--color-orange-300);
        --vs-orange-400: var(--color-orange-400);
        --vs-orange-500: var(--color-orange-500);
        --vs-orange-600: var(--color-orange-600);
        --vs-orange-700: var(--color-orange-700);
        --vs-orange-800: var(--color-orange-800);
        --vs-orange-900: var(--color-orange-900);
        --vs-orange-950: var(--color-orange-950);

        --vs-amber-50: var(--color-amber-50);
        --vs-amber-100: var(--color-amber-100);
        --vs-amber-200: var(--color-amber-200);
        --vs-amber-300: var(--color-amber-300);
        --vs-amber-400: var(--color-amber-400);
        --vs-amber-500: var(--color-amber-500);
        --vs-amber-600: var(--color-amber-600);
        --vs-amber-700: var(--color-amber-700);
        --vs-amber-800: var(--color-amber-800);
        --vs-amber-900: var(--color-amber-900);
        --vs-amber-950: var(--color-amber-950);

        --vs-yellow-50: var(--color-yellow-50);
        --vs-yellow-100: var(--color-yellow-100);
        --vs-yellow-200: var(--color-yellow-200);
        --vs-yellow-300: var(--color-yellow-300);
        --vs-yellow-400: var(--color-yellow-400);
        --vs-yellow-500: var(--color-yellow-500);
        --vs-yellow-600: var(--color-yellow-600);
        --vs-yellow-700: var(--color-yellow-700);
        --vs-yellow-800: var(--color-yellow-800);
        --vs-yellow-900: var(--color-yellow-900);
        --vs-yellow-950: var(--color-yellow-950);

        --vs-lime-50: var(--color-lime-50);
        --vs-lime-100: var(--color-lime-100);
        --vs-lime-200: var(--color-lime-200);
        --vs-lime-300: var(--color-lime-300);
        --vs-lime-400: var(--color-lime-400);
        --vs-lime-500: var(--color-lime-500);
        --vs-lime-600: var(--color-lime-600);
        --vs-lime-700: var(--color-lime-700);
        --vs-lime-800: var(--color-lime-800);
        --vs-lime-900: var(--color-lime-900);
        --vs-lime-950: var(--color-lime-950);

        --vs-green-50: var(--color-green-50);
        --vs-green-100: var(--color-green-100);
        --vs-green-200: var(--color-green-200);
        --vs-green-300: var(--color-green-300);
        --vs-green-400: var(--color-green-400);
        --vs-green-500: var(--color-green-500);
        --vs-green-600: var(--color-green-600);
        --vs-green-700: var(--color-green-700);
        --vs-green-800: var(--color-green-800);
        --vs-green-900: var(--color-green-900);
        --vs-green-950: var(--color-green-950);

        --vs-emerald-50: var(--color-emerald-50);
        --vs-emerald-100: var(--color-emerald-100);
        --vs-emerald-200: var(--color-emerald-200);
        --vs-emerald-300: var(--color-emerald-300);
        --vs-emerald-400: var(--color-emerald-400);
        --vs-emerald-500: var(--color-emerald-500);
        --vs-emerald-600: var(--color-emerald-600);
        --vs-emerald-700: var(--color-emerald-700);
        --vs-emerald-800: var(--color-emerald-800);
        --vs-emerald-900: var(--color-emerald-900);
        --vs-emerald-950: var(--color-emerald-950);

        --vs-teal-50: var(--color-teal-50);
        --vs-teal-100: var(--color-teal-100);
        --vs-teal-200: var(--color-teal-200);
        --vs-teal-300: var(--color-teal-300);
        --vs-teal-400: var(--color-teal-400);
        --vs-teal-500: var(--color-teal-500);
        --vs-teal-600: var(--color-teal-600);
        --vs-teal-700: var(--color-teal-700);
        --vs-teal-800: var(--color-teal-800);
        --vs-teal-900: var(--color-teal-900);
        --vs-teal-950: var(--color-teal-950);

        --vs-cyan-50: var(--color-cyan-50);
        --vs-cyan-100: var(--color-cyan-100);
        --vs-cyan-200: var(--color-cyan-200);
        --vs-cyan-300: var(--color-cyan-300);
        --vs-cyan-400: var(--color-cyan-400);
        --vs-cyan-500: var(--color-cyan-500);
        --vs-cyan-600: var(--color-cyan-600);
        --vs-cyan-700: var(--color-cyan-700);
        --vs-cyan-800: var(--color-cyan-800);
        --vs-cyan-900: var(--color-cyan-900);
        --vs-cyan-950: var(--color-cyan-950);

        --vs-sky-50: var(--color-sky-50);
        --vs-sky-100: var(--color-sky-100);
        --vs-sky-200: var(--color-sky-200);
        --vs-sky-300: var(--color-sky-300);
        --vs-sky-400: var(--color-sky-400);
        --vs-sky-500: var(--color-sky-500);
        --vs-sky-600: var(--color-sky-600);
        --vs-sky-700: var(--color-sky-700);
        --vs-sky-800: var(--color-sky-800);
        --vs-sky-900: var(--color-sky-900);
        --vs-sky-950: var(--color-sky-950);

        --vs-blue-50: var(--color-blue-50);
        --vs-blue-100: var(--color-blue-100);
        --vs-blue-200: var(--color-blue-200);
        --vs-blue-300: var(--color-blue-300);
        --vs-blue-400: var(--color-blue-400);
        --vs-blue-500: var(--color-blue-500);
        --vs-blue-600: var(--color-blue-600);
        --vs-blue-700: var(--color-blue-700);
        --vs-blue-800: var(--color-blue-800);
        --vs-blue-900: var(--color-blue-900);
        --vs-blue-950: var(--color-blue-950);

        --vs-indigo-50: var(--color-indigo-50);
        --vs-indigo-100: var(--color-indigo-100);
        --vs-indigo-200: var(--color-indigo-200);
        --vs-indigo-300: var(--color-indigo-300);
        --vs-indigo-400: var(--color-indigo-400);
        --vs-indigo-500: var(--color-indigo-500);
        --vs-indigo-600: var(--color-indigo-600);
        --vs-indigo-700: var(--color-indigo-700);
        --vs-indigo-800: var(--color-indigo-800);
        --vs-indigo-900: var(--color-indigo-900);
        --vs-indigo-950: var(--color-indigo-950);

        --vs-violet-50: var(--color-violet-50);
        --vs-violet-100: var(--color-violet-100);
        --vs-violet-200: var(--color-violet-200);
        --vs-violet-300: var(--color-violet-300);
        --vs-violet-400: var(--color-violet-400);
        --vs-violet-500: var(--color-violet-500);
        --vs-violet-600: var(--color-violet-600);
        --vs-violet-700: var(--color-violet-700);
        --vs-violet-800: var(--color-violet-800);
        --vs-violet-900: var(--color-violet-900);
        --vs-violet-950: var(--color-violet-950);

        --vs-purple-50: var(--color-purple-50);
        --vs-purple-100: var(--color-purple-100);
        --vs-purple-200: var(--color-purple-200);
        --vs-purple-300: var(--color-purple-300);
        --vs-purple-400: var(--color-purple-400);
        --vs-purple-500: var(--color-purple-500);
        --vs-purple-600: var(--color-purple-600);
        --vs-purple-700: var(--color-purple-700);
        --vs-purple-800: var(--color-purple-800);
        --vs-purple-900: var(--color-purple-900);
        --vs-purple-950: var(--color-purple-950);

        --vs-fuchsia-50: var(--color-fuchsia-50);
        --vs-fuchsia-100: var(--color-fuchsia-100);
        --vs-fuchsia-200: var(--color-fuchsia-200);
        --vs-fuchsia-300: var(--color-fuchsia-300);
        --vs-fuchsia-400: var(--color-fuchsia-400);
        --vs-fuchsia-500: var(--color-fuchsia-500);
        --vs-fuchsia-600: var(--color-fuchsia-600);
        --vs-fuchsia-700: var(--color-fuchsia-700);
        --vs-fuchsia-800: var(--color-fuchsia-800);
        --vs-fuchsia-900: var(--color-fuchsia-900);
        --vs-fuchsia-950: var(--color-fuchsia-950);

        --vs-pink-50: var(--color-pink-50);
        --vs-pink-100: var(--color-pink-100);
        --vs-pink-200: var(--color-pink-200);
        --vs-pink-300: var(--color-pink-300);
        --vs-pink-400: var(--color-pink-400);
        --vs-pink-500: var(--color-pink-500);
        --vs-pink-600: var(--color-pink-600);
        --vs-pink-700: var(--color-pink-700);
        --vs-pink-800: var(--color-pink-800);
        --vs-pink-900: var(--color-pink-900);
        --vs-pink-950: var(--color-pink-950);

        --vs-rose-50: var(--color-rose-50);
        --vs-rose-100: var(--color-rose-100);
        --vs-rose-200: var(--color-rose-200);
        --vs-rose-300: var(--color-rose-300);
        --vs-rose-400: var(--color-rose-400);
        --vs-rose-500: var(--color-rose-500);
        --vs-rose-600: var(--color-rose-600);
        --vs-rose-700: var(--color-rose-700);
        --vs-rose-800: var(--color-rose-800);
        --vs-rose-900: var(--color-rose-900);
        --vs-rose-950: var(--color-rose-950);

        --vs-slate-50: var(--color-slate-50);
        --vs-slate-100: var(--color-slate-100);
        --vs-slate-200: var(--color-slate-200);
        --vs-slate-300: var(--color-slate-300);
        --vs-slate-400: var(--color-slate-400);
        --vs-slate-500: var(--color-slate-500);
        --vs-slate-600: var(--color-slate-600);
        --vs-slate-700: var(--color-slate-700);
        --vs-slate-800: var(--color-slate-800);
        --vs-slate-900: var(--color-slate-900);
        --vs-slate-950: var(--color-slate-950);

        --vs-gray-50: var(--color-gray-50);
        --vs-gray-100: var(--color-gray-100);
        --vs-gray-200: var(--color-gray-200);
        --vs-gray-300: var(--color-gray-300);
        --vs-gray-400: var(--color-gray-400);
        --vs-gray-500: var(--color-gray-500);
        --vs-gray-600: var(--color-gray-600);
        --vs-gray-700: var(--color-gray-700);
        --vs-gray-800: var(--color-gray-800);
        --vs-gray-900: var(--color-gray-900);
        --vs-gray-950: var(--color-gray-950);

        --vs-zinc-50: var(--color-zinc-50);
        --vs-zinc-100: var(--color-zinc-100);
        --vs-zinc-200: var(--color-zinc-200);
        --vs-zinc-300: var(--color-zinc-300);
        --vs-zinc-400: var(--color-zinc-400);
        --vs-zinc-500: var(--color-zinc-500);
        --vs-zinc-600: var(--color-zinc-600);
        --vs-zinc-700: var(--color-zinc-700);
        --vs-zinc-800: var(--color-zinc-800);
        --vs-zinc-900: var(--color-zinc-900);
        --vs-zinc-950: var(--color-zinc-950);

        --vs-neutral-50: var(--color-neutral-50);
        --vs-neutral-100: var(--color-neutral-100);
        --vs-neutral-200: var(--color-neutral-200);
        --vs-neutral-300: var(--color-neutral-300);
        --vs-neutral-400: var(--color-neutral-400);
        --vs-neutral-500: var(--color-neutral-500);
        --vs-neutral-600: var(--color-neutral-600);
        --vs-neutral-700: var(--color-neutral-700);
        --vs-neutral-800: var(--color-neutral-800);
        --vs-neutral-900: var(--color-neutral-900);
        --vs-neutral-950: var(--color-neutral-950);

        --vs-stone-50: var(--color-stone-50);
        --vs-stone-100: var(--color-stone-100);
        --vs-stone-200: var(--color-stone-200);
        --vs-stone-300: var(--color-stone-300);
        --vs-stone-400: var(--color-stone-400);
        --vs-stone-500: var(--color-stone-500);
        --vs-stone-600: var(--color-stone-600);
        --vs-stone-700: var(--color-stone-700);
        --vs-stone-800: var(--color-stone-800);
        --vs-stone-900: var(--color-stone-900);
        --vs-stone-950: var(--color-stone-950);
    }
}
