@layer utilities {
    :root {
        --vs-sc-info: var(--vs-sky);
        --vs-sc-success: var(--vs-green);
        --vs-sc-warning: var(--vs-yellow);
        --vs-sc-error: var(--vs-red);

        --vs-sc-soft-info: var(--vs-sky-soft);
        --vs-sc-soft-success: var(--vs-green-soft);
        --vs-sc-soft-warning: var(--vs-yellow-soft);
        --vs-sc-soft-error: var(--vs-red-soft);

        --vs-sc-strong-info: var(--vs-sky-strong);
        --vs-sc-strong-success: var(--vs-green-strong);
        --vs-sc-strong-warning: var(--vs-yellow-strong);
        --vs-sc-strong-error: var(--vs-red-strong);

        .vs-state-info {
            --vs-sc: var(--vs-sc-info);
            --vs-sc-soft: var(--vs-sc-soft-info);
            --vs-sc-strong: var(--vs-sc-strong-info);
        }
        .vs-state-success {
            --vs-sc: var(--vs-sc-success);
            --vs-sc-soft: var(--vs-sc-soft-success);
            --vs-sc-strong: var(--vs-sc-strong-success);
        }
        .vs-state-warning {
            --vs-sc: var(--vs-sc-warning);
            --vs-sc-soft: var(--vs-sc-soft-warning);
            --vs-sc-strong: var(--vs-sc-strong-warning);
        }
        .vs-state-error {
            --vs-sc: var(--vs-sc-error);
            --vs-sc-soft: var(--vs-sc-soft-error);
            --vs-sc-strong: var(--vs-sc-strong-error);
        }
    }

    .vs-state-box {
        @apply outline-3 outline-offset-2;

        outline-color: var(--vs-sc);
    }
}
