@layer base {
    :root {
        --vs-no-color: var(--vs-white);
        --vs-no-color-inverse: var(--vs-black);

        --vs-app-bg: white;

        @variant dark {
            --vs-no-color: var(--vs-black);
            --vs-no-color-inverse: var(--vs-white);

            --vs-app-bg: #121212;
        }

        --vs-line-height: 1.6;

        --vs-font-weight-light: 200;
        --vs-font-weight: 400;
        --vs-font-weight-bold: 600;

        --vs-white-space: normal;

        --vs-font-size-xs: 0.8rem;
        --vs-font-size-sm: 0.9rem;
        --vs-font-size: 1rem;
        --vs-font-size-lg: 1.1rem;
        --vs-font-size-xl: 1.2rem;

        --vs-radius-ratio: 1;
        --vs-radius-xs: 0.2rem;
        --vs-radius-sm: 0.3rem;
        --vs-radius: 0.4rem;
        --vs-radius-lg: 0.5rem;
        --vs-radius-xl: 0.6rem;

        --vs-bar-z-index: 1000;
        --vs-modal-z-index: 5000;
        --vs-toast-z-index: 99999;

        --vs-default-comp-height-xs: 1.4rem;
        --vs-default-comp-height-sm: 1.6rem;
        --vs-default-comp-height: 2rem;
        --vs-default-comp-height-lg: 2.4rem;
        --vs-default-comp-height-xl: 2.8rem;
    }
}
