@layer base {
    :root {
        --vs-no-color: var(--vs-white);
        --vs-no-color-inverse: var(--vs-black);

        --vs-app-bg: #f8f8f8;
        --vs-dimmed-bg: rgba(0, 0, 0, 0.45);

        @variant dark {
            --vs-no-color: var(--vs-black);
            --vs-no-color-inverse: var(--vs-white);

            --vs-app-bg: #14151f;
            --vs-dimmed-bg: rgba(0, 0, 0, 0.6);
        }

        --vs-font-size-xs: 0.8rem;
        --vs-font-size-sm: 0.9rem;
        --vs-font-size: 1rem;
        --vs-font-size-lg: 1.1rem;
        --vs-font-size-xl: 1.2rem;

        --vs-radius-ratio: 1;
        --vs-radius-xs: 0.3rem;
        --vs-radius-sm: 0.4rem;
        --vs-radius: 0.5rem;
        --vs-radius-lg: 0.6rem;
        --vs-radius-xl: 0.7rem;

        --vs-modal-height-xs: 20%;
        --vs-modal-height-sm: 30%;
        --vs-modal-height-md: 50%;
        --vs-modal-height-lg: 66%;
        --vs-modal-height-xl: 80%;
        --vs-modal-width-xs: 20%;
        --vs-modal-width-sm: 30%;
        --vs-modal-width-md: 45%;
        --vs-modal-width-lg: 70%;
        --vs-modal-width-xl: 90%;

        --vs-app-bar-z-index: 1000;
        --vs-modal-z-index: 5000;
        --vs-toast-z-index: 9999;

        --vs-default-comp-height-small: 1.5rem;
        --vs-default-comp-height: 2rem;
        --vs-default-comp-height-large: 2.5rem;
    }
}
