@layer base {
    :root {
        --vs-no-color: var(--vs-white);
        --vs-no-color-inverse: var(--vs-black);

        --vs-app-bg: var(--vs-no-color);

        @variant dark {
            --vs-no-color: var(--vs-black);
            --vs-no-color-inverse: var(--vs-white);

            --vs-app-bg: var(--vs-no-color);
        }

        --vs-line-height: 1.6;

        --vs-font-weight-light: 200;
        --vs-font-weight: 400;
        --vs-font-weight-bold: 600;

        --vs-white-space: normal;

        --vs-font-size-xs: 0.6rem;
        --vs-font-size-sm: 0.8rem;
        --vs-font-size-md: 1rem;
        --vs-font-size-lg: 1.2rem;
        --vs-font-size-xl: 1.5rem;

        --vs-radius-ratio: 1;
        --vs-radius-xs: 0.2rem;
        --vs-radius-sm: 0.3rem;
        --vs-radius-md: 0.4rem;
        --vs-radius-lg: 0.5rem;
        --vs-radius-xl: 0.6rem;

        --vs-bar-z-index: 1000;
        --vs-modal-z-index: 5000;
        --vs-toast-z-index: 99999;

        --vs-comp-height-xs: 1.5rem;
        --vs-comp-height-sm: 1.8rem;
        --vs-comp-height-md: 2rem;
        --vs-comp-height-lg: 2.2rem;
        --vs-comp-height-xl: 2.5rem;

        --vs-padding-xs: 0.4rem;
        --vs-padding-sm: 0.6rem;
        --vs-padding-md: 0.8rem;
        --vs-padding-lg: 1rem;
        --vs-padding-xl: 1.2rem;
    }
}
