@reference 'tailwindcss';

.vs-divider {
    --vs-divider-border: initial;

    --vs-divider-horizontal-width: initial;
    --vs-divider-horizontal-margin: initial;

    --vs-divider-vertical-height: initial;
    --vs-divider-vertical-margin: initial;

    opacity: 50%;
    margin: var(--vs-divider-horizontal-margin, 0.6rem 0);
    border-top: var(--vs-divider-border, 1px solid var(--vs-primary-comp-bg));
    width: var(--vs-divider-horizontal-width, 100%);
    height: 0;

    &.vs-vertical {
        @apply inline-block w-0 border-t-0 border-l align-top;

        margin: var(--vs-divider-vertical-margin, 0 0.6rem);
        border-left: var(--vs-divider-border, 1px solid var(--vs-primary-comp-bg));
        width: 0;
        height: var(--vs-divider-vertical-height, 100%);
    }
}
@container (max-width: 768px) {
    .vs-divider.vs-vertical.vs-divider-responsive {
        @apply border-t border-l-0;

        margin: var(--vs-divider-horizontal-margin, 0.6rem 0);
        border-top: var(--vs-divider-border, 1px solid var(--vs-primary-comp-bg));
        width: var(--vs-divider-horizontal-width, 100%);
        height: 0;
    }
}
