@reference 'tailwindcss';

.vs-tabs {
    --vs-tabs-divider: initial;

    --tab-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-md));
    --tab-border: 1px solid transparent;
    --tab-border-color: var(--vs-cs-line);
    --tab-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    @apply relative flex w-full items-start gap-2 select-none;

    .vs-tab-control {
        @apply shrink-0;

        width: 1.6rem;
        height: var(--vs-comp-height-md);
        color: var(--vs-cs-font-colored);

        .vs-tab-control-icon {
            @apply size-4 shrink-0;
        }
    }

    .vs-tabs-wrap {
        @apply relative flex w-full overflow-auto pb-1;

        .vs-tab-list {
            @apply relative m-0 flex flex-1 flex-nowrap items-center gap-1;

            border-bottom: var(--vs-tabs-divider, 1px solid var(--tab-border-color));

            .vs-tab-item {
                @apply relative flex cursor-pointer items-center justify-center bg-transparent text-center
                    whitespace-nowrap;

                transition: var(--tab-transition);
                transition-property: border-color, background-color, color;
                border: var(--tab-border);
                border-bottom: transparent;
                border-top-right-radius: var(--tab-radius);
                border-top-left-radius: var(--tab-radius);
                padding: 0 1.2rem;
                height: var(--vs-comp-height-md);
                color: var(--vs-cs-font);
                font-size: var(--vs-font-size-md);

                &:hover:not(.vs-disabled):not(.vs-selected) {
                    border-color: var(--tab-border-color);
                }

                &:focus {
                    @apply outline-none;
                }

                &:focus-visible:not(.vs-disabled) {
                    outline: 1px solid var(--vs-cs-line);
                    outline-offset: -3px;
                }
            }

            .vs-tab-indicator {
                @apply pointer-events-none absolute z-0 h-full;

                transition: var(--tab-transition);
                border: var(--tab-border);
                border-color: var(--tab-border-color);
                border-bottom: transparent;
                border-top-right-radius: var(--tab-radius);
                border-top-left-radius: var(--tab-radius);
                background-color: var(--vs-cs-bg-area-colored);
            }
        }
    }

    &.vs-dense {
        .vs-tab-control {
            height: var(--vs-comp-height-xs);

            .vs-tab-control-icon {
                @apply size-3;
            }
        }

        .vs-tabs-wrap {
            .vs-tab-list {
                .vs-tab-item {
                    padding: 0 0.8rem;
                    height: var(--vs-comp-height-xs);
                    font-size: var(--vs-font-size-sm);
                }
            }
        }
    }

    &.vs-vertical {
        @apply flex-col;

        .vs-tab-control {
            @apply w-full;

            .vs-tab-control-icon {
                @apply rotate-90;
            }
        }

        .vs-tabs-wrap {
            @apply pr-1 pb-0;

            .vs-tab-list {
                @apply flex-col items-stretch;

                border-right: var(--vs-tabs-divider, 1px solid var(--tab-border-color));
                border-bottom: 0;

                .vs-tab-item {
                    @apply w-full justify-start text-start whitespace-normal;

                    border-right: transparent;
                    border-bottom: var(--tab-border);
                    border-top-right-radius: 0;
                    border-bottom-left-radius: var(--tab-radius);

                    &:hover:not(.vs-disabled):not(.vs-selected) {
                        border-right-color: var(--vs-cs-bg-colored);
                    }
                }

                .vs-tab-indicator {
                    border-right: transparent;
                    border-bottom: var(--tab-border);
                    border-bottom-color: var(--tab-border-color);
                    border-top-right-radius: 0;
                    border-top-left-radius: var(--tab-radius);
                    border-bottom-left-radius: var(--tab-radius);

                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    &.vs-primary {
        .vs-tabs-wrap {
            .vs-tab-list {
                border-bottom-color: var(--tab-border-color);

                .vs-tab-item.vs-selected {
                    color: var(--vs-cs-font-primary);
                }

                .vs-tab-item.vs-selected:focus-visible:not(.vs-disabled) {
                    outline-color: var(--vs-cs-font-primary);
                }

                .vs-tab-indicator {
                    border-color: var(--vs-cs-bg-primary);
                    background-color: var(--vs-cs-bg-primary);
                }
            }
        }
    }

    &.vs-primary.vs-vertical {
        .vs-tabs-wrap {
            .vs-tab-list {
                border-right-color: var(--tab-border-color);
            }
        }
    }
}
