@reference 'tailwindcss';

.vs-message {
    --vs-message-size: initial;

    @apply flex items-start;
    fill: var(--vs-cs-bg-primary);
    stroke: var(--vs-cs-bg-primary);
    color: var(--vs-cs-bg-primary);

    .vs-message-icon {
        @apply shrink-0;
        width: var(--vs-message-size);
        height: var(--vs-message-size);
    }

    .vs-message-text {
        @apply ml-1 wrap-break-word;
        font-size: var(--vs-message-size);
        line-height: var(--vs-message-size);
    }
}
