@reference 'tailwindcss';

.vs-message {
    --vs-message-font-size: var(--vs-font-size);

    @apply flex items-center whitespace-nowrap;

    color: var(--vs-primary-comp-bg);
    fill: var(--vs-primary-comp-bg);
    stroke: var(--vs-primary-comp-bg);

    .vs-message-icon {
        @apply flex-shrink-0;
        width: var(--vs-message-font-size);
        height: var(--vs-message-font-size);
    }

    .vs-message-text {
        @apply ml-1;
        font-size: var(--vs-message-font-size);
    }

    &.vs-xs {
        --vs-message-font-size: var(--vs-font-size-xs);
    }
    &.vs-sm {
        --vs-message-font-size: var(--vs-font-size-sm);
    }
    &.vs-lg {
        --vs-message-font-size: var(--vs-font-size-lg);
    }
    &.vs-xl {
        --vs-message-font-size: var(--vs-font-size-xl);
    }
}
