@keyframes vs-loading-animation {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        opacity: 0.3;
    }
    20% {
        transform: scaleY(0.8);
        opacity: 1;
    }
}

.vs-loading {
    --vs-loading-width: 8rem;
    --vs-loading-height: 10rem;
    --vs-loading-color: var(--vs-primary-comp-bg);
    --vs-loading-barWidth: 11.11%;

    @apply relative inline-flex justify-center items-center m-auto;

    width: var(--vs-loading-width);
    height: var(--vs-loading-height);

    [class^='vs-loading-rect'] {
        @apply inline-block h-full;

        animation: vs-loading-animation 1s infinite cubic-bezier(0.25, 0.25, 0.75, 0.75);
        background-color: var(--vs-loading-color);
        width: var(--vs-loading-barWidth);
    }

    .vs-loading-rect2 {
        animation-delay: -0.9s;
    }
    .vs-loading-rect3 {
        animation-delay: -0.8s;
    }
    .vs-loading-rect4 {
        animation-delay: -0.7s;
    }
    .vs-loading-rect5 {
        animation-delay: -0.6s;
    }

    > div ~ div {
        margin-left: calc((100% - (var(--vs-loading-barWidth) * 5)) / 4);
    }
}
