@reference 'tailwindcss';

.vs-select {
    --vs-select-height: initial;

    .vs-select-trigger {
        @apply relative box-border flex cursor-pointer items-center gap-1;

        border: 1px solid var(--vs-line-color);
        border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-md));
        background-color: var(--vs-no-color);
        padding: 0.2rem 0.8rem;
        min-height: var(--vs-select-height, var(--vs-default-comp-height-md));

        .vs-select-value {
            @apply flex flex-1 flex-wrap items-center gap-1;
        }

        .vs-select-placeholder {
            @apply opacity-50 select-none;
        }

        .vs-select-collapsed-count {
            @apply opacity-70 select-none;

            font-size: var(--vs-font-size-sm);
        }

        .vs-select-clear-button {
            @apply flex size-5 items-center justify-center rounded border-none opacity-0 focus-visible:outline-1;

            transition: opacity 0.4s;
            background: none;
            color: var(--vs-font-color);

            &:focus {
                @apply cursor-pointer opacity-100;
            }
        }

        &:hover {
            .vs-select-clear-button.show {
                @apply cursor-pointer opacity-100;
            }
        }

        .vs-select-icon {
            @apply flex size-5 flex-shrink-0 items-center justify-center;

            transition: transform 0.3s ease;

            &.vs-select-icon-open {
                transform: rotate(180deg);
            }
        }
    }
}

.vs-select-options {
    --vs-select-focused-border: initial;
    --vs-select-focused-borderRadius: initial;
    --vs-select-focused-backgroundColor: initial;

    --vs-select-selected-backgroundColor: initial;
    --vs-select-selected-fontWeight: initial;

    @apply overflow-hidden;

    border: 1px solid var(--vs-line-color);
    border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-md));
    background-color: var(--vs-no-color);

    .vs-select-focusable {
        border: 1px solid transparent;

        &.vs-focusable-active {
            @apply box-content;

            border: var(--vs-select-focused-border, 1px solid var(--vs-line-color)) !important;
            border-radius: var(
                --vs-select-focused-borderRadius,
                calc(var(--vs-radius-ratio) * var(--vs-radius-md))
            ) !important;
            background-color: var(--vs-select-focused-backgroundColor, var(--vs-area-bg-active)) !important;
        }
    }

    .vs-select-search {
        padding: 0.4rem 1rem;
    }

    .vs-select-all {
        @apply cursor-pointer;

        padding: 0.4rem 1.2rem;
    }

    .vs-select-option-wrap {
        .vs-select-option {
            @apply cursor-pointer;

            padding: 0.2rem 1.2rem;
        }

        &.selected {
            background-color: var(--vs-select-selected-backgroundColor, var(--vs-comp-bg));

            .vs-select-option {
                font-weight: var(--vs-select-selected-fontWeight, var(--vs-font-weight-bold));
            }
        }
    }
}
