@reference 'tailwindcss';

.vs-select {
    --vs-select-height: initial;

    --vs-select-trigger-backgroundColor: initial;
    --vs-select-trigger-border: initial;
    --vs-select-trigger-borderRadius: initial;
    --vs-select-trigger-padding: initial;
    --vs-select-trigger-opacity: initial;

    .vs-select-trigger {
        @apply relative box-border flex cursor-pointer items-center gap-1;

        opacity: var(--vs-select-trigger-opacity, 1);
        border: var(--vs-select-trigger-border, solid 1px var(--vs-line-color));
        border-radius: var(--vs-select-trigger-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
        background-color: var(--vs-select-trigger-backgroundColor, var(--vs-no-color));
        padding: var(--vs-select-trigger-padding, 0 0.8rem);
        min-height: var(--vs-select-height, var(--vs-default-comp-height));

        .vs-select-value {
            @apply flex flex-1 flex-wrap items-center gap-1;
        }

        .vs-select-placeholder {
            @apply opacity-50;
        }

        .vs-select-collapsed-count {
            @apply opacity-70;
        }

        .vs-select-clear-button {
            @apply flex size-5 items-center justify-center rounded border-none opacity-0 focus-visible:outline-1;

            transition: opacity 0.4s;
            background: none;
            color: var(--vs-font-color);

            &:focus {
                @apply cursor-pointer opacity-100;
            }
        }

        &:hover {
            .vs-select-clear-button.show {
                @apply cursor-pointer opacity-100;
            }
        }

        .vs-select-icon {
            @apply flex size-5 flex-shrink-0 items-center justify-center;

            transition: transform 0.3s ease;

            &.vs-select-icon-open {
                transform: rotate(180deg);
            }
        }
    }
}

.vs-select-options {
    --vs-select-options-border: initial;
    --vs-select-options-borderRadius: initial;
    --vs-select-options-padding: initial;

    @apply overflow-hidden;

    border: var(--vs-select-options-border, 1px solid var(--vs-line-color));
    border-radius: var(--vs-select-options-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
    padding: var(--vs-select-options-padding, 0.6rem 0.4rem);

    .vs-select-search {
        @apply mb-2;
        padding: 0 1rem;
    }

    .vs-select-all {
        @apply cursor-pointer;
        margin-bottom: 0.3rem;
        padding: 0.2rem 1.2rem;
    }

    .vs-select-option {
        padding: 0.2rem 1.2rem;
    }
}
