@reference 'tailwindcss';

.vs-textarea {
    --vs-textarea-backgroundColor: initial;
    --vs-textarea-border: initial;
    --vs-textarea-borderRadius: initial;
    --vs-textarea-padding: initial;
    --vs-textarea-opacity: initial;
    --vs-textarea-fontColor: initial;
    --vs-textarea-fontSize: initial;
    --vs-textarea-fontWeight: initial;
    --vs-textarea-height: initial;
    --vs-textarea-resize: initial;

    border-radius: var(--vs-textarea-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));

    textarea {
        @apply relative flex w-full overflow-hidden;

        opacity: var(--vs-textarea-opacity, 1);
        border: var(--vs-textarea-border, solid 1px var(--vs-line-color));
        border-radius: var(--vs-textarea-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
        background-color: var(--vs-textarea-backgroundColor, var(--vs-no-color));
        padding: var(--vs-textarea-padding, 0.3rem 0.6rem);
        height: var(--vs-textarea-height, 6rem);
        resize: var(--vs-textarea-resize, vertical);
        color: var(--vs-textarea-fontColor, var(--vs-font-color));
        font-weight: var(--vs-textarea-fontWeight, var(--vs-font-weight));
        font-size: var(--vs-textarea-fontSize, var(--vs-font-size));

        &:focus-within {
            outline: 1px solid var(--vs-line-color) !important;
            outline-offset: 2px !important;
        }
    }

    &.vs-small {
        height: var(--vs-textarea-height, var(--vs-default-comp-height-small));
        font-size: var(--vs-textarea-fontSize, var(--vs-font-size-sm));

        textarea {
            font-size: var(--vs-textarea-fontSize, var(--vs-font-size-sm));
        }
    }
}
