@reference 'tailwindcss';

.vs-table {
    @apply relative w-full;

    table {
        @apply mx-auto w-full border-collapse;
    }

    .vs-table-sticky-header {
        @apply sticky w-full;
        top: var(--vs-table-stickyHeaderTop, auto);
        box-shadow:
            inset 0 0.0625rem 0 var(--vs-line-color),
            inset 0 -0.0625rem 0 var(--vs-line-color),
            0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
        background-color: var(--vs-no-color);
    }
}

th,
td {
    @apply px-3.5 py-2.5;
    border: 0.0625rem solid var(--vs-line-color);
    text-align: left; /* left, center, right */
}

caption {
    @apply caption-bottom;
}

.vs-table-responsive table {
    width: 100%;
}

@media (max-width: 768px) {
    .vs-table-responsive table,
    .vs-table-responsive thead,
    .vs-table-responsive tbody,
    .vs-table-responsive th,
    .vs-table-responsive td,
    .vs-table-responsive tr {
        @apply block w-full;
    }

    .vs-table-responsive thead {
        @apply absolute m-0 h-1 w-1 overflow-hidden border-0;
    }

    .vs-table-responsive tbody {
        @apply block;
    }

    .vs-table-responsive tbody tr {
        @apply mx-0 mb-3 border border-solid;
        border: 0.0325rem solid var(--vs-line-color);
    }

    .vs-table-responsive td {
        @apply grid grid-cols-[minmax(6rem,9rem)_1fr] gap-2 border-r-0 border-b border-l-0 border-dashed p-3;
    }

    .vs-table-responsive td:first-child {
        @apply border-t-0;
    }

    .vs-table-responsive td:last-child {
        @apply border-b-0;
    }

    .vs-table-responsive td::before {
        @apply font-bold;
        content: attr(data-label);
    }
}
