@reference 'tailwindcss';

.vs-modal-node {
    @apply absolute top-0 left-0 h-full w-full;

    z-index: var(--vs-modal-z-index);

    .vs-modal-wrap {
        @apply pointer-events-auto absolute top-1/2 left-1/2 overflow-auto;

        transform: translate(-50%, -50%);
        opacity: 1;
        border: 1px solid var(--vs-cs-line);
        border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-md));
        background-color: var(--vs-cs-bg-area);
        padding: 1.8rem 2.4rem;
        width: auto;
        height: auto;
        color: var(--vs-cs-font);
    }
}
