@reference 'tailwindcss';

.vs-search-input {
    --vs-search-input-height: initial;

    @apply relative;

    .vs-search-input-toggles {
        @apply flex items-center gap-1;

        .vs-search-input-toggle {
            @apply cursor-pointer;

            width: calc(var(--vs-search-input-height, var(--vs-default-comp-height)) * 0.8);
            height: calc(var(--vs-search-input-height, var(--vs-default-comp-height)) * 0.8);
            font-size: calc(var(--vs-search-input-height, var(--vs-default-comp-height)) * 0.4);

            &.vs-small {
                width: calc(var(--vs-search-input-height, var(--vs-default-comp-height-sm)) * 0.8);
                height: calc(var(--vs-search-input-height, var(--vs-default-comp-height-sm)) * 0.8);
                font-size: calc(var(--vs-search-input-height, var(--vs-default-comp-height-sm)) * 0.4);
            }

            .vs-search-input-toggle-text {
                @apply select-none;
            }
        }
    }
}
