.vs-block {
    --vs-block-border: initial;
    --vs-block-borderRadius: initial;
    --vs-block-backgroundColor: initial;
    --vs-block-padding: initial;
    --vs-block-opacity: initial;

    --vs-block-boxShadow: initial;
    --vs-block-fontColor: initial;

    --vs-block-title-backgroundColor: initial;
    --vs-block-title-fontColor: initial;
    --vs-block-title-padding: initial;

    @apply relative w-full overflow-auto;

    opacity: var(--vs-block-opacity, 1);
    container-type: inline-size;
    box-shadow: var(--vs-block-boxShadow, var(--vs-area-shadow-outer));
    border: var(--vs-block-border, 1px solid var(--vs-line-color));
    border-radius: var(--vs-block-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
    background-color: var(--vs-block-backgroundColor, var(--vs-area-bg));
    color: var(--vs-block-fontColor, var(--vs-font-color));

    .vs-block-title {
        @apply relative w-full;

        border-bottom: var(--vs-block-border, 1px solid var(--vs-line-color));
        background-color: var(--vs-block-title-backgroundColor, var(--vs-comp-bg));
        padding: var(--vs-block-title-padding, 0.8rem 1.6rem);
        color: var(--vs-block-title-fontColor, var(--vs-comp-font));
        font-weight: 500;
    }

    .vs-block-content {
        @apply relative w-full;

        padding: var(--vs-block-padding, 1.6rem 1.6rem);
    }
}

@container (max-width: 1024px) {
    .vs-block {
        .vs-block-title {
            padding: var(--vs-block-title-padding, 0.6rem 1.4rem);
        }
        .vs-block-content {
            padding: var(--vs-block-padding, 1.2rem 1.4rem);
        }
    }
}

@container (max-width: 768px) {
    .vs-block {
        .vs-block-title {
            padding: var(--vs-block-title-padding, 0.6rem 1.2rem);
        }
        .vs-block-content {
            padding: var(--vs-block-padding, 1rem 1.2rem);
        }
    }
}

@container (max-width: 640px) {
    .vs-block {
        .vs-block-title {
            padding: var(--vs-block-title-padding, 0.6rem 1rem);
        }
        .vs-block-content {
            padding: var(--vs-block-padding, 0.8rem 1rem);
        }
    }
}
