.vs-chip {
    --vs-chip-height: initial;

    --vs-chip-computed-height: var(--vs-chip-height, var(--vs-size-height));
    --vs-chip-icon-size: calc(var(--vs-chip-computed-height) * 0.75);
    --vs-chip-icon-margin: calc(var(--vs-chip-computed-height) * 0.13);

    @apply relative box-border inline-flex items-center justify-center select-none hover:brightness-96 active:brightness-92;

    border: 1px solid var(--vs-line-color);
    border-radius: calc(var(--vs-chip-computed-height) / 2);
    background-color: var(--vs-comp-bg);
    width: auto;
    height: var(--vs-chip-computed-height);
    min-height: var(--vs-chip-computed-height);
    color: var(--vs-comp-font);
    font-size: var(--vs-size-font);
    line-height: 2;
    user-select: none;

    .vs-chip-icon {
        @apply flex items-center justify-center;

        border: 1px solid var(--vs-line-color);
        border-radius: 50%;
        min-width: var(--vs-chip-icon-size);
        max-width: var(--vs-chip-icon-size);
        min-height: var(--vs-chip-icon-size);
        max-height: var(--vs-chip-icon-size);
        color: var(--vs-comp-font);
    }

    .vs-chip-close-button {
        @apply shrink-0 cursor-pointer;
    }

    &:has(.vs-chip-icon) {
        padding-left: var(--vs-chip-icon-margin);
    }

    &:has(.vs-chip-close-button) {
        padding-right: var(--vs-chip-icon-margin);
    }

    .vs-chip-content {
        @apply w-full truncate text-center;
        padding: 0 var(--vs-size-padding);
    }

    &.vs-outline {
        @apply bg-transparent;

        border: 1px solid var(--vs-primary-comp-bg);
        color: var(--vs-primary-comp-bg);
    }

    &.vs-primary {
        @apply hover:brightness-104 active:brightness-108;

        border: 1px solid var(--vs-primary-comp-bg);
        background-color: var(--vs-primary-comp-bg);
        color: var(--vs-primary-comp-font);

        .vs-chip-icon {
            border: 1px solid var(--vs-primary-comp-font);
            color: var(--vs-primary-comp-font);
        }
    }

    @variant dark {
        @apply hover:brightness-104 active:brightness-108;

        &.vs-primary {
            @apply hover:brightness-96 active:brightness-92;
        }
    }
}
