@reference 'tailwindcss';

.vs-file-drop {
    --vs-file-drop-dragBackgroundColor: initial;
    --vs-file-drop-iconColor: initial;

    @apply relative box-border hover:brightness-102 active:brightness-105;

    border: solid 1px var(--vs-cs-line);
    border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-md));
    background-color: var(--vs-cs-bg-area);
    padding: 1.6rem 2rem 0.5rem 2rem;
    width: 100%;
    height: auto;

    &:hover {
        outline: 1px solid var(--vs-cs-line) !important;
        outline-offset: 2px !important;
    }

    &.vs-dragging {
        outline: 2px dashed var(--vs-cs-line);
        background-color: var(--vs-file-drop-dragBackgroundColor, var(--vs-cs-bg-area));
    }

    .vs-file-drop-ref {
        @apply absolute top-0 left-0 h-full w-full cursor-pointer opacity-0;

        &::file-selector-button {
            @apply hidden;
        }
    }

    .vs-file-drop-content {
        @apply flex w-full flex-col items-center justify-center;

        .vs-file-drop-files {
            @apply flex w-full flex-col items-center justify-center gap-3;

            > div {
                @apply flex w-full max-w-full min-w-0;
            }

            .vs-file-drop-file-wrapper {
                @apply flex items-center;

                .vs-file-drop-file-name {
                    @apply truncate;

                    font-size: var(--vs-font-size-md);
                }

                .vs-file-drop-file-size {
                    @apply ml-2 shrink-0;

                    font-size: var(--vs-font-size-xs);
                }
            }
        }

        .vs-file-drop-placeholder {
            @apply flex flex-col items-center justify-center pb-3;

            .placeholder-icon {
                color: var(--vs-file-drop-iconColor, var(--vs-cs-font));
            }

            .placeholder-text {
                @apply mt-2 w-full overflow-hidden text-center text-ellipsis whitespace-nowrap;
                font-size: var(--vs-font-size-xs);
            }
        }

        .vs-file-drop-file-count {
            @apply w-full shrink-0 px-4 text-right;

            color: var(--vs-cs-font);
            font-size: var(--vs-font-size-xs);
        }
    }

    .vs-file-drop-close-button {
        @apply absolute top-2 right-2 flex shrink-0 cursor-pointer items-center justify-center;

        border: 1px solid var(--vs-cs-line);
        border-radius: 50%;
        width: calc(var(--vs-chip-height, var(--vs-comp-height-sm)) * 0.75);
        height: calc(var(--vs-chip-height, var(--vs-comp-height-sm)) * 0.75);
        color: var(--vs-cs-font-colored);
    }
}
