@reference 'tailwindcss';

.vs-dimmed {
    --vs-dimmed-backgroundColor: initial;
    --vs-dimmed-opacity: initial;

    @apply absolute top-0 left-0 h-full w-full;

    opacity: var(--vs-dimmed-opacity, 0.4);
    background-color: var(--vs-dimmed-backgroundColor, var(--vs-black));
}

.dimmed-enter-active,
.dimmed-leave-active {
    transition: opacity 0.25s;
}

.dimmed-enter-from,
.dimmed-leave-to {
    opacity: 0;
}


