@reference 'tailwindcss';

.vs-dimmed {
    @apply pointer-events-auto absolute top-0 left-0 h-full w-full;

    opacity: 0.4;
    background-color: var(--vs-black);
}

.dimmed-enter-active,
.dimmed-leave-active {
    transition: opacity 0.25s;
}

.dimmed-enter-from,
.dimmed-leave-to {
    opacity: 0;
}
