.vs-inner-scroll {
    @apply relative flex h-full w-full flex-col;

    .vs-inner-scroll-header {
        @apply relative;

        flex-basis: content;
        padding: 0;
    }

    .vs-inner-scroll-body {
        @apply relative flex-1 overflow-auto border-none outline-none;

        container-type: inline-size;
        padding: 0;
    }

    .vs-inner-scroll-footer {
        @apply relative;

        flex-basis: content;
        padding: 0;
    }
}
