.vs-label-value {
    --vs-label-value-border: initial;

    @apply relative flex h-full w-full overflow-hidden;

    border: var(--vs-label-value-border, 1px solid var(--vs-cs-line));
    border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-sm));

    > .vs-cell {
        @apply relative flex;

        &.vs-label {
            @apply wrap-break-word whitespace-nowrap;

            flex-basis: 20%;
            align-items: center;
            border-right: var(--vs-label-value-border, 1px solid var(--vs-cs-line));
            background-color: var(--vs-cs-bg-colored);
            padding: 0.6rem 1.2rem;
            color: var(--vs-cs-font-colored);
            font-weight: 500;
            font-size: var(--vs-font-size-md);
        }

        &.vs-value {
            @apply flex-1 overflow-x-auto;

            align-items: center;
            background-color: var(--vs-no-color);
            padding: 0.6rem 1.2rem;
            color: var(--vs-cs-font-colored);
            font-weight: 500;
            font-size: var(--vs-font-size-md);
        }
    }

    &.vs-primary {
        border: var(--vs-label-value-border, 1px solid var(--vs-cs-bg-primary));

        .vs-label {
            border-right: var(--vs-label-value-border, 1px solid var(--vs-cs-bg-primary));
            background-color: var(--vs-cs-bg-primary);
            color: var(--vs-cs-font-primary);
        }
    }

    &.vs-dense {
        > .vs-cell {
            &.vs-label {
                padding: 0.2rem 0.8rem;
                font-size: var(--vs-font-size-xs);
            }

            &.vs-value {
                padding: 0.2rem 0.8rem;
                font-size: var(--vs-font-size-xs);
            }
        }
    }

    &.vs-vertical {
        @apply flex-col;

        > .vs-cell {
            @apply justify-start px-[1.2rem] py-[0.8rem];

            &.vs-label {
                @apply basis-auto border-r-0;
                border-bottom: var(--vs-label-value-border, 1px solid var(--vs-cs-line));
            }

            &.vs-value {
                min-height: 2.5rem;
            }
        }

        &.vs-primary {
            > .vs-cell {
                &.vs-label {
                    border-bottom: var(--vs-label-value-border, 1px solid var(--vs-cs-bg-primary));
                }
            }
        }

        &.vs-dense {
            > .vs-cell {
                &.vs-value {
                    min-height: 1.5rem;
                }
            }
        }
    }

    @container (max-width: 768px) {
        &.vs-responsive-vertical {
            @apply flex-col;

            > .vs-cell {
                @apply justify-start px-[1.2rem] py-[0.8rem];

                &.vs-label {
                    @apply basis-auto border-r-0;
                    border-bottom: var(--vs-label-value-border, 1px solid var(--vs-cs-line));
                }

                &.vs-value {
                    min-height: 2.5rem;
                }
            }

            &.vs-primary {
                > .vs-cell {
                    &.vs-label {
                        border-bottom: var(--vs-label-value-border, 1px solid var(--vs-cs-bg-primary));
                    }
                }
            }

            &.vs-dense {
                > .vs-cell {
                    &.vs-value {
                        min-height: 1.5rem;
                    }
                }
            }
        }
    }
}
