.vs-label-value {
    --vs-label-value-border: initial;
    --vs-label-value-line: var(--vs-label-value-border, 1px solid var(--vs-cs-line));
    --vs-label-value-direction: row;
    --vs-label-value-cell-justify: normal;
    --vs-label-value-label-border-right: var(--vs-label-value-line);
    --vs-label-value-label-border-bottom: none;

    @apply relative flex w-full overflow-hidden;

    flex-direction: var(--vs-label-value-direction);
    border: var(--vs-label-value-line);
    border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-sm));

    > .vs-cell {
        @apply relative flex;
        justify-content: var(--vs-label-value-cell-justify);

        align-items: center;
        padding: calc(var(--vs-size-padding, var(--vs-padding-md)) * 0.5) var(--vs-size-padding, var(--vs-padding-md));
        min-height: var(--vs-size-height, var(--vs-comp-height-md));
        color: var(--vs-cs-font-colored);
        font-size: var(--vs-size-font, var(--vs-font-size-md));

        &.vs-label {
            @apply wrap-break-word whitespace-nowrap;

            border-right: var(--vs-label-value-label-border-right);
            border-bottom: var(--vs-label-value-label-border-bottom);
            background-color: var(--vs-cs-bg);
            font-weight: 500;
        }

        &.vs-value {
            @apply flex-1 overflow-x-auto;

            background-color: var(--vs-no-color);
        }
    }

    &.vs-primary {
        --vs-label-value-line: var(--vs-label-value-border, 1px solid var(--vs-cs-bg-primary));

        .vs-label {
            background-color: var(--vs-cs-bg-primary);
            color: var(--vs-cs-font-primary);
        }
    }

    &.vs-vertical {
        --vs-label-value-direction: column;
        --vs-label-value-cell-justify: flex-start;
        --vs-label-value-label-border-right: none;
        --vs-label-value-label-border-bottom: var(--vs-label-value-line);
    }

    @container (max-width: 768px) {
        &.vs-responsive-vertical {
            --vs-label-value-direction: column;
            --vs-label-value-cell-justify: flex-start;
            --vs-label-value-label-border-right: none;
            --vs-label-value-label-border-bottom: var(--vs-label-value-line);
        }
    }
}
