@use '@/styles/mixin' as *;

.vs-theme-button {
    position: relative;
    transition: all 0.2s ease-out;
    border: 1px solid var(--vs-line-color);
    border-radius: var(--vs-theme-button-borderRadius, 50%);
    background-color: var(--vs-theme-button-backgroundColor, var(--vs-comp-bg));
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    min-height: 3rem;

    @include hover-active-darken;

    &:focus-visible {
        @include focus-outline;
    }

    .vs-theme-icon {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        justify-content: center;
        align-items: center;
        transform: scale(0.4) rotate(270deg) translateX(-50%) translateY(-50%);
        transform-origin: top left;
        opacity: 0;
        transition:
            opacity 0.4s ease-out,
            transform 0.4s ease-out;
        width: 3rem;
        min-width: 3rem;
        height: 3rem;
        min-height: 3rem;
        color: var(--vs-theme-button-iconColor, var(--vs-orange));

        &.vs-on {
            transform: scale(1) rotate(0deg) translateX(-50%) translateY(-50%);
            opacity: 1;
        }
    }
}

.vs-dark {
    .vs-theme-button {
        @include hover-active-lighten;
    }
}
