@reference 'tailwindcss';

.vs-options {
    --vs-options-width: initial;
    --vs-options-height: initial;

    --vs-options-backgroundColor: initial;
    --vs-options-border: initial;
    --vs-options-borderRadius: initial;
    --vs-options-padding: initial;
    --vs-options-opacity: initial;

    --vs-options-gap: initial;

    --vs-options-group-backgroundColor: initial;
    --vs-options-group-border: initial;
    --vs-options-group-borderRadius: initial;
    --vs-options-group-padding: initial;
    --vs-options-group-opacity: initial;

    --vs-options-option-backgroundColor: initial;
    --vs-options-option-border: initial;
    --vs-options-option-borderRadius: initial;
    --vs-options-option-padding: initial;
    --vs-options-option-opacity: initial;

    @apply pointer-events-auto;

    opacity: var(--vs-options-opacity, 1);
    border: var(--vs-options-border, none);
    border-radius: var(--vs-options-borderRadius, 0);
    background-color: var(--vs-options-backgroundColor, var(--vs-no-color));
    width: var(--vs-options-width, auto);
    max-height: var(--vs-options-height, auto);

    .vs-options-list {
        @apply flex flex-col;

        gap: var(--vs-options-gap, 0);

        .vs-options-group-content {
            @apply cursor-default;

            opacity: var(--vs-options-group-opacity, 0.5);
            margin: 0.6rem 0 0.3rem 0;
            border: var(--vs-options-group-border, none);
            border-radius: var(--vs-options-group-borderRadius, 0);
            background-color: var(--vs-options-group-backgroundColor, var(--vs-no-color));
            padding: var(--vs-options-group-padding, 0 0.6rem);
            font-weight: 600;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }

        .vs-options-option-content {
            @apply cursor-pointer;

            opacity: var(--vs-options-option-opacity, 1);
            border: var(--vs-options-option-border, none);
            border-radius: var(--vs-options-option-borderRadius, 0);
            background-color: var(--vs-options-option-backgroundColor, var(--vs-no-color));
            padding: var(--vs-options-option-padding, 0.2rem 1.2rem);
        }

        .vs-focused-index {
            background-color: var(--vs-area-bg-hover);
        }
    }
}
