@reference 'tailwindcss';

.vs-pagination {
    --vs-pagination-selectedButtonBackgroundColor: initial;
    --vs-pagination-selectedButtonFontColor: initial;

    @apply relative flex items-center justify-center;

    gap: 0.5rem;

    .vs-page-buttons {
        @apply flex items-center justify-center overflow-x-auto select-none;

        gap: 0.5rem;
        margin-block: -4px;
        padding-block: 4px;

        .vs-page-button {
            min-width: 2rem;
            min-height: 2rem;
        }

        .vs-page-button {
            &.vs-primary {
                background-color: var(--vs-pagination-selectedButtonBackgroundColor, var(--vs-primary-comp-bg));
                color: var(--vs-pagination-selectedButtonFontColor, var(--vs-primary-comp-font));
            }
        }
    }

    .vs-pagination-control-button {
        min-width: 2rem;
        min-height: 2rem;
    }
}
