@reference 'tailwindcss';

.vs-input-wrapper {
    --vs-input-wrapper-label-marginBottom: initial;
    --vs-input-wrapper-label-fontColor: initial;
    --vs-input-wrapper-label-fontSize: initial;
    --vs-input-wrapper-label-fontWeight: initial;
    --vs-input-wrapper-messages-marginTop: initial;

    .vs-label {
        @apply flex items-center;

        margin-bottom: var(--vs-input-wrapper-label-marginBottom, 0.1rem);
        min-height: 1.5rem;
        color: var(--vs-input-wrapper-label-fontColor, var(--vs-font-color));
        font-weight: var(--vs-input-wrapper-label-fontWeight, var(--vs-font-weight));
        font-size: var(--vs-input-wrapper-label-fontSize, var(--vs-font-size-sm));
    }

    .vs-required-star {
        @apply relative;

        top: 0.1rem;
        margin-left: 0.2rem;
        color: var(--vs-primary-comp-bg);
        font-weight: var(--vs-input-wrapper-label-fontWeight, var(--vs-font-weight));
        font-size: var(--vs-input-wrapper-label-fontSize, var(--vs-font-size-sm));
    }

    .vs-messages {
        margin-top: var(--vs-input-wrapper-messages-marginTop, 0.2rem);
    }

    &.vs-small {
        .vs-label {
            font-size: var(--vs-input-wrapper-label-fontSize, var(--vs-font-size-xs));
        }
    }
}
