@reference 'tailwindcss';

.vs-input-wrapper {
    @apply relative w-full;

    .vs-label {
        @apply flex items-center;

        margin-bottom: 0.1rem;
        min-height: 1.5rem;
        color: var(--vs-cs-font);
        font-size: var(--vs-font-size-sm);
    }

    .vs-required-star {
        @apply relative;

        top: 0.1rem;
        margin-left: 0.2rem;
        color: var(--vs-cs-bg-primary);
        font-size: var(--vs-font-size-sm);
    }

    .vs-messages {
        margin-top: 0.2rem;
    }
}
