@reference 'tailwindcss';

.vs-progress {
    --vs-progress-bar-backgroundColor: initial;
    --vs-progress-bar-border: initial;
    --vs-progress-bar-borderRadius: initial;
    --vs-progress-value-backgroundColor: initial;
    --vs-progress-label-textShadow: initial;
    --vs-progress-label-fontColor: initial;

    @apply relative h-4 w-full appearance-none text-center;
}

.vs-progress[value]::-webkit-progress-bar {
    @apply overflow-hidden;

    border: var(--vs-progress-bar-border, 1px solid var(--vs-cs-line));
    border-radius: var(--vs-progress-bar-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius-md)));
    background-color: var(--vs-progress-bar-backgroundColor, var(--vs-cs-bg));
}

.vs-progress[value]::-webkit-progress-value {
    @apply relative;

    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--vs-progress-value-backgroundColor, var(--vs-cs-bg-primary));
}

.vs-progress:before {
    @apply absolute right-0 left-0 z-10 flex h-full items-center justify-center;

    vertical-align: 0;
    content: attr(data-label);
    color: var(--vs-progress-label-fontColor, var(--vs-no-color-inverse));
    font-size: var(--vs-font-size-xs);
    text-shadow: var(
        --vs-progress-label-textShadow,
        0 0 2px var(--vs-no-color),
        0 0 4px var(--vs-no-color),
        0 0 6px var(--vs-no-color),
        0 0 8px var(--vs-no-color),
        0 0 10px var(--vs-no-color),
        0 0 12px var(--vs-no-color)
    );
}
