/* position이 설정될 때의 추가 스타일 */
.vs-header[style*='position: fixed'],
.vs-header[style*='position: absolute'],
.vs-header[style*='position: sticky'] {
    right: 0;
    left: 0;
    z-index: var(--vs-comp-zIndex, 100);
}

.vs-header[style*='position: fixed'] {
    top: 0;
}

.vs-header[style*='position: sticky'] {
    top: 0;
}
